{% extends 'hotelbase.html' %}
{% block content %}
{% load static %}
    <!-- Banner -->

    <div class="main-content">
    <section class="section-banner">
        <div class="row banner-image">
            <div class="banner-overlay"></div>
            <div class="banner-section">
                <div class="lh-banner-contain">
                    <h2>Hotel Facilities</h2>
                    <div class="lh-breadcrumb">
                        <h5>
                            <span class="lh-inner-breadcrumb">
                                <a href="{% url 'user-panel:index' company_name=company_name %}">Home</a>
                            </span>
                            <span> / </span>
                            <span>
                                <a href="javascript:void(0)">Hotel Facilities</a>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Amenities -->
    <section class="section-amenities padding-tb-100">
        <div class="container">
            <div class="row mtb-m-12">
                {% for facility in facilities %}
                    {% if forloop.counter|divisibleby:2 %}
                        <!-- Even numbered facilities (right-aligned) -->
                        <div class="col-md-6 col-sm-12 m-tb-12">
                            <div class="lh-amenities" data-aos="fade-up" data-aos-duration="2000">
                                <div class="amenities-detail">
                                    <div class="amenities-box">
                                        <div class="lh-amenities-in lh-amenities-right">
                                            <h4 class="side-number">{{ forloop.counter|stringformat:"02d" }}</h4>
                                            <div class="lh-top-dish">
                                                {% if facility.icon %}
                                                    <img src="{{ facility.icon.url }}" class="svg-img" alt="{{ facility.name }}">
                                                {% endif %}
                                            </div>
                                            <div class="amenities-contain">
                                                <h4 class="amenities-heading">{{ facility.name }}</h4>
                                                <p>{{ facility.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="amenities-box">
                                        {% if facility.image %}
                                            <img src="{{ facility.image.url }}" alt="{{ facility.name }}" class="amenities-right-image">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <!-- Odd numbered facilities (left-aligned) -->
                        <div class="col-md-6 col-sm-12 m-tb-12">
                            <div class="lh-amenities" data-aos="fade-up" data-aos-duration="1500">
                                <div class="amenities-detail">
                                    <div class="amenities-box">
                                        {% if facility.image %}
                                            <img src="{{ facility.image.url }}" alt="{{ facility.name }}" class="amenities-left-image">
                                        {% endif %}
                                    </div>
                                    <div class="amenities-box">
                                        <div class="lh-amenities-in">
                                            <h4 class="side-number">{{ forloop.counter|stringformat:"02d" }}</h4>
                                            <div class="lh-top-dish">
                                                {% if facility.icon %}
                                                    <img src="{{ facility.icon.url }}" class="svg-img" alt="{{ facility.name }}">
                                                {% endif %}
                                            </div>
                                            <div class="amenities-contain">
                                                <h4 class="amenities-heading">{{ facility.name }}</h4>
                                                <p>{{ facility.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="col-12 text-center">
                        <p>No facilities available at the moment.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    </div>
{% endblock %}
