{% extends 'hotelbase.html' %}
{% block content %}
{% load static %}

<div class="main-content">
    <!-- Banner -->
    <section class="section-banner">
        <div class="row banner-image">
            <div class="banner-overlay"></div>
            <div class="banner-section">
                <div class="lh-banner-contain">
                    <h2>Gallery</h2>
                    <div class="lh-breadcrumb">
                        <h5>
                            <span class="lh-inner-breadcrumb">
                                <a href="{% url 'user-panel:index' company_name=company_name %}">Home</a>
                            </span>
                            <span> / </span>
                            <span>
                                <a href="javascript:void(0)">Gallery</a>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery -->
    <section class="section-gallery padding-tb-100">
        <div class="container">
            <div class="row mb-m-24" data-aos="fade-up" data-aos-duration="1500">
                <div class="banner">
                    <h2>Latest <span>Gallery</span></h2>
                </div>
                <div class="card-columns">
                    {% for room_image in room_images %}

                    <figure class="magnific-img">
                            <img class="example-image" src="{{ room_image.image.url }}" alt="room-img">

                    </figure>
                    {% endfor %}
                    {% for facility in facilities %}

                    <figure>
                        {% if facility.image %}
                                            <img src="{{ facility.image.url }}" alt="{{ facility.name }}" class="amenities-right-image">
                                        {% endif %}
                    </figure>
                    {% endfor %}
                    {% for spa in spas %}

                    <figure>
                        <img src="{{ spa.image.url }}" alt="{{ spa.name }}">

                    </figure>
                    {% endfor %}
                    {% for about_us_image in about_us_images %}

                    <figure>
                        {% if about.image %}
                        <img src="{{ about.image.url }}" alt="{{ about.title }}" class="w-100">
                    {% endif %}
                    </figure>
                    {% endfor %}
                    {% for service in services %}

                    <figure>
                        <a class="gallery-img" href="hotel/assets/img/gallery/gallery_img_6.jpg" title="Mobile App">
                            <img src="{% static '/hotel/assets/img/gallery/gallery_img_thumb_6.jpg' %}" alt="portfolio img">
                        </a>
                    </figure>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}