{% extends 'hotelbase.html' %}
{% block content %}

{% load static %}



    <style>
            .container .container-terms{
            background-color: #ffffff; /* White background for the content */
            border-radius: 8px; /* Rounded corners */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
            padding: 30px; /* Increased padding */
        }
        h1, h2 {
            margin-top: 20px;
            color: #343a40; /* Darker text color */
        }
       </style>



    <!-- Banner -->
    <section class="section-banner">
        <div class="row banner-image">
            <div class="banner-overlay"></div>
            <div class="banner-section">
                <div class="lh-banner-contain">
                    <h2 style="color: white;">Privacy Policy</h2>
                    <div class="lh-breadcrumb">
                        <h5>
                            <span class="lh-inner-breadcrumb">
                                <a href="{% url 'user-panel:index' company_name=company_name %}">Home</a>
                            </span>
                            <span> / </span>
                            <span>
                                <a href="javascript:void(0)">Privacy Policy</a>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
   
    <div class="container container-terms mt-5 mb-5" >
        <h1 class="terms-title">Privacy Policy
        </h1>
        <p>*{{ subscription_user.company_name }}* respects your privacy and is committed to protecting your personal information. This Privacy Policy explains how we collect, use, share, and protect your data when you use our Hotel Booking System (“System”).</p>
    
        <h2 class="introduction">1. Introduction</h2>
        <p>By accessing and using the {{ subscription_user.company_name }} Booking System (“System”), you agree to be bound by these Terms,<br> including our Privacy Policy, cancellation policy, and any additional guidelines we provide. <br>
            If you do not agree, please do not proceed with any booking.

        </p>
    
        <h2 class="introduction">2. Information We Collect
        </h2>
        <h3 style="color: #343a40;">a. Personal Information</h3>
        
        <p style="display: flex;gap: 10px;"><span style="color: #f32078;">*</span>Name, address, email address, and phone number.</p>
        <p style="display: flex;gap: 10px;"><span style="color: #f32078;">*</span>Payment details (credit/debit card information).</p>
        <p style="display: flex;gap: 10px; "><span style="color: #f32078;">*</span> Identification documents (passport, ID card) for verification purposes.</p>
        <p style="display: flex;gap: 10px; "><span style="color: #f32078;">*</span> Preferences (room preferences, special requests).</p>

        
       <h3 style="color: #343a40;">b. Booking Information</h3>
       <p style="display: flex;gap: 10px;"><span style="color: #f32078;">*</span>Details of reservations (dates, room types, number of guests).</p>
       </p>
       <p style="display: flex;gap: 10px;"><span style="color: #f32078;">*</span>Transaction details (payment amounts, dates, and methods).</p>
        
      
    
        <h3 style="color: #343a40;">c. Automatically Collected Information</h3>
        <p style="display: flex;gap: 10px;"><span style="color: #f32078;">*</span>IP address, browser type, and operating system.</p>
        
        <p style="display: flex;gap: 10px;"><span style="color: #f32078;">*</span>Usage data, including pages visited, time spent on the website, and referral sources.
        </p>
        
        <h3 style="color: #343a40;">d. Cookies and Tracking Technologies
        </h3>
        <p style="display: flex;gap: 10px;"><span style="color: #f32078;">*</span>We use cookies and similar technologies to enhance your browsing experience. See our [Cookie Policy] for more details.
        </p>


        <h2 style="color: #343a40;">3. How We Use Your Information

        </h2>
        <p>We use the information collected to:

        </p>
        <p><span style="color:  #f32078;";>*</span>Process bookings, cancellations, and modifications.
        </p>

        <p><span style="color:  #f32078;";>*</span>Provide personalized recommendations and improve our services.</p>
        <p><span style="color:  #f32078;";>*</span>Communicate important updates, such as booking confirmations or changes.
        </p>
        <p><span style="color:  #f32078;";>*</span>Ensure regulatory compliance and prevent fraudulent activities.

        </p>
        <p><span style="color:  #f32078;";>*</span>Analyze website and service performance to enhance user experience.


        </p>
        
        <h2 style="color: #343a40;">4. Sharing Your Information

        </h2>
        <p>We may share your data with:

        </p>
        <p>a. Hotels and Accommodation Providers
        </p>
        <p><span style="color:  #f32078;";>*</span> To confirm bookings, manage reservations, and fulfill your preferences.
        </p>
        <p>b. Third-party Service Providers
        </p>
        <p><span style="color:  #f32078;";>*</span> For payment processing, customer support, or marketing services.

        </p>
        <p>c. Regulatory Authorities
        </p>
        <p><span style="color:  #f32078;";>*</span> When required by law or to protect against fraudulent or unauthorized activities.</p>


       
        <h2 class="introduction">5. Data Security</h2>

<p>We implement robust security measures to protect your information, including:</p>

<p><span style="color:  #f32078;";>*</span> Data encryption during transmission.
</p>
<p><span style="color:  #f32078;";>*</span> Secure storage of sensitive information.
</p>
<p><span style="color:  #f32078;";>*</span> Regular audits and updates to our systems.

</p>
<p>Despite our efforts, no online system can guarantee complete security. Please safeguard your account credentials and notify us immediately of any unauthorized access.

</p>


<h2 class="introduction">6. Cookies and Tracking Technologies
</h2>
<p>We use cookies to enhance your experience, including:

</p>
<p><span style="color:  #f32078;";>*</span> Remembering your preferences and login details.

</p>
<p><span style="color:  #f32078;";>*</span> Analyzing website usage to improve functionality.

</p>
<p><span style="color:  #f32078;";>* </span> Serving relevant advertisements.

</p>
<h2 class="introduction">7. Your Rights</h2>
<p><span style="color:  #f32078;";>* </span> Serving relevant advertisements.

</p>

<h2 class="introduction">8. Your Rights</h2>
<p>As a user, you have the following rights:

</p>
<p><span style="color:  #f32078;";>* </span> Access to your personal data and request corrections.


</p>
<p><span style="color:  #f32078;";>* </span> Request deletion of your data, subject to legal obligations.



</p>
<p><span style="color:  #f32078;";>* </span> Opt out of marketing communications at any time.

</p>


<h2 class="introduction">9. Retention of Information
</h2>
<p>We retain your information for as long as necessary to:

</p>
<p><span style="color:  #f32078;";>* </span> Provide our services.


</p>
<p><span style="color:  #f32078;";>* </span> Comply with legal requirements.


</p>
<p><span style="color:  #f32078;";>* </span> Resolve disputes and enforce agreements.


</p>
<p>Once your data is no longer needed, we securely delete or anonymize it.

</p>


        <h2 class="introduction">10. Contact Us</h2>
        <p>For any questions or concerns regarding these Terms, please contact us at:

            <p style="color: #f32078;"> {{ subscription_user.company_name }} </p>
            <p>Email: {{ subscription_user.email }}</p>
           <p>Phone: {{ subscription_user.phone}} </p>
            <p>Address: {{ subscription_user.address }} </p>
            

        

       
    </div>
    

   
    <!-- Tap to top -->
    <a href="#" class="back-to-top result-placeholder">
        <i class="ri-arrow-up-double-line"></i>
    </a>

    <!-- Side-tool -->
       <!-- <div class="tool-overlay"></div>
    <div class="lh-tool">
        <div class="lh-tool-btn">
            <button type="button" class="btn-lh-tool result-placeholder close-tool">
                <i class="ri-settings-line"></i>
            </button>
            <div class="color-variant">
                <div class="tool-header">
                    <h5>Tools</h5>
                </div>
                <div class="heading">
                    <h2>Select Color</h2>
                </div>
                <ul class="lh-color">
                    <li class="colors c1 active-colors">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c2">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c3">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c4">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c5">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c6">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c7">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c8">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c9">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="colors c10">
                        <span class="lh-all-color"></span>
                    </li>
                </ul>
                <div class="heading">
                    <h2>Dark mode</h2>
                </div>
                <ul class="dark-mode">
                    <li class="dark">
                        <span class="lh-all-color"></span>
                    </li>
                    <li class="white active-dark-mode">
                        <span class="lh-all-color"></span>
                    </li>
                </ul>
                <div class="heading">
                    <h2>Skin mode</h2>
                </div>
                <ul class="skin-mode">
                    <li class="skin-1">
                        <span class="lh-all-color"><img src="{% static 'hotel/assets/img/skin/1.png' %}" alt="skin-1"></span>
                    </li>
                    <li class="skin-2">
                        <span class="lh-all-color"><img src="{% static 'hotel/assets/img/skin/2.png' %}" alt="skin-2"></span>
                    </li>
                    <li class="skin-3 active">
                        <span class="lh-all-color"><img src="{% static 'hotel/assets/img/skin/3.png' %}" alt="skin-3"></span>
                    </li>
                </ul>
                <div class="heading">
                    <h2>Border Radius Mode</h2>
                </div>
                <ul class="border-mode">
                    <li class="lh-radius radius-mode active-radius">
                        <span class="lh-all-color"><img src="{% static 'hotel/assets/img/skin/box-1.png' %}" alt="skin-1"></span>
                    </li>
                    <li class="lh-radius radius-mode-none">
                        <span class="lh-all-color"><img src="{% static 'hotel/assets/img/skin/box-2.png' %}" alt="skin-1"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 -->
   

{% endblock %}
