{% extends 'hotelbase.html' %}
{% block content %}
{% load static %}

<div class="main-content">
    <!-- Banner -->
    <section class="section-banner">
        <div class="row banner-image">
            <div class="banner-overlay"></div>
            <div class="banner-section">
                <div class="lh-banner-contain">
                    <h2>Restaurant</h2>
                    <div class="lh-breadcrumb">
                        <h5>
                            <span class="lh-inner-breadcrumb">
                                <a href="{% url 'user-panel:index' %}">Home</a>
                            </span>
                            <span> / </span>
                            <span>
                                <a href="javascript:void(0)">Restaurant</a>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Restaurant-menu -->
    <section class="section-restaurant padding-tb-100">
        <div class="container">
            <div class="banner" data-aos="fade-up" data-aos-duration="1000">
                <h2>Restaurant <span>Menu</span></h2>
            </div>
            <nav class="p-0" data-aos="fade-up" data-aos-duration="1500">
                <div class="nav nav-tabs lh-menu-restaurant" id="nav-tab" role="tablist">
                    <button class="nav-link active lh-menu-buttons" id="nav-Breakfast-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Breakfast" type="button" role="tab" aria-controls="nav-Breakfast"
                        aria-selected="true">
                        Breakfast
                    </button>
                    <button class="nav-link lh-menu-buttons" id="nav-Lunch-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Lunch" type="button" role="tab" aria-controls="nav-Lunch"
                        aria-selected="false">
                        Lunch
                    </button>
                    <button class="nav-link lh-menu-buttons" id="nav-Dinner-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Dinner" type="button" role="tab" aria-controls="nav-Dinner"
                        aria-selected="false">
                        Dinner
                    </button>
                    <button class="nav-link lh-menu-buttons" id="nav-Starters-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Starters" type="button" role="tab" aria-controls="nav-Starters"
                        aria-selected="false">
                        Starters
                    </button>
                    <button class="nav-link lh-menu-buttons" id="nav-Beverages-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Beverages" type="button" role="tab" aria-controls="nav-Beverages"
                        aria-selected="false">
                        Beverages
                    </button>
                </div>
            </nav>
            <div class="tab-content ld-menu-contact border-none" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-Breakfast" role="tabpanel"
                    aria-labelledby="nav-Breakfast-tab">
                    <div class="row p-0 lh-Breakfast-rs">
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu" data-aos="fade-up" data-aos-duration="1500">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/1.jpg' %}" alt="restaurant-1">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Mustrd Chicken with <span>$60</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu" data-aos="fade-up" data-aos-duration="1800">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/2.jpg' %}" alt="restaurant-2">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Pan Con Berenjina Frita <span>$30</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu" data-aos="fade-up" data-aos-duration="2100">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/3.jpg' %}" alt="restaurant-3">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Salmon Tataki Capaccio <span>$45</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu" data-aos="fade-up" data-aos-duration="1500">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/4.jpg' %}" alt="restaurant-4">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Lubina Marinada <span>$15</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu" data-aos="fade-up" data-aos-duration="1800">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/5.jpg' %}" alt="restaurant-5">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Nashville Hot Chicken <span>$30</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu" data-aos="fade-up" data-aos-duration="2100">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/6.jpg' %}" alt="restaurant-6">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Biscuits and Gravy <span>$55</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Lunch" role="tabpanel" aria-labelledby="nav-Lunch-tab">
                    <div class="row p-0 lh-Breakfast-rs">
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/1.jpg' %}" alt="restaurant-1">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Mustrd Chicken with <span>$50</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/2.jpg' %}" alt="restaurant-2">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Pan Con Berenjina Frita <span>$80</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/3.jpg' %}" alt="restaurant-3">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Salmon Tataki Capaccio <span>$40</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/4.jpg' %}" alt="restaurant-4">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Lubina Marinada <span>$60</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/5.jpg' %}" alt="restaurant-5">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Nashville Hot Chicken <span>$70</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/6.jpg' %}" alt="restaurant-6">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Biscuits and Gravy <span>$90</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Dinner" role="tabpanel" aria-labelledby="nav-Dinner-tab">
                    <div class="row p-0 lh-Breakfast-rs">
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/1.jpg' %}" alt="restaurant-1">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Mustrd Chicken with <span>$10</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/2.jpg' %}" alt="restaurant-2">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Pan Con Berenjina Frita <span>$50</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/3.jpg' %}" alt="restaurant-3">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Salmon Tataki Capaccio <span>$70</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/4.jpg' %}" alt="restaurant-4">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Lubina Marinada <span>$40</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/5.jpg' %}" alt="restaurant-5">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Nashville Hot Chicken <span>$60</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/6.jpg' %}" alt="restaurant-6">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Biscuits and Gravy <span>$70</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Starters" role="tabpanel" aria-labelledby="nav-Starters-tab">
                    <div class="row p-0 lh-Breakfast-rs">
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/1.jpg' %}" alt="restaurant-1">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Mustrd Chicken with <span>$70</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/2.jpg' %}" alt="restaurant-2">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Pan Con Berenjina Frita <span>$50</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/3.jpg' %}" alt="restaurant-3">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Salmon Tataki Capaccio <span>$20</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/4.jpg' %}" alt="restaurant-4">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Lubina Marinada <span>$60</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/5.jpg' %}" alt="restaurant-5">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Nashville Hot Chicken <span>$40</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/6.jpg' %}" alt="restaurant-6">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Biscuits and Gravy <span>$80</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Beverages" role="tabpanel" aria-labelledby="nav-Beverages-tab">
                    <div class="row p-0 lh-Breakfast-rs">
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/1.jpg' %}" alt="restaurant-1">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Mustrd Chicken with <span>$70</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/2.jpg' %}" alt="restaurant-2">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Pan Con Berenjina Frita <span>$65</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/3.jpg' %}" alt="restaurant-3">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Salmon Tataki Capaccio <span>$55</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/4.jpg' %}" alt="restaurant-4">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Lubina Marinada <span>$50</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/5.jpg' %}" alt="restaurant-5">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Nashville Hot Chicken <span>$10</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                            <div class="ld-restaurant-menu">
                                <div class="ld-restaurant-menu-image">
                                    <img src="{% static 'hotel/assets/img/restaurant/6.jpg' %}" alt="restaurant-6">
                                </div>
                                <div class="ld-restaurant-menu-contain">
                                    <h4>Biscuits and Gravy <span>$90</span></h4>
                                    <p>This is the dolor sit amet consectetur adipisicing elit. Id non
                                        namsequicum voluptatum soluta sed placeat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




 <!-- Book-table -->
 <section class="section-book-table padding-tb-100">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-duration="2000">
            <div class="banner">
                <h2>Book Your <span>Private Table</span></h2>
            </div>
            <div class="col-lg-3 col-md-6 rs-pb-24">
                <div class="lh-book-tale-box">
                    <label>Name <span class="star">*</span></label>
                    <input type="text" name="firstname" class="lh-book-form-control">
                    <i class="ri-user-line"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 rs-pb-24">
                <div class="lh-book-tale-box">
                    <label>Phone No <span class="star">*</span></label>
                    <input type="text" name="number" class="lh-book-form-control">
                    <i class="ri-phone-line"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 rs-pb-24">
                <div class="lh-book-tale-box">
                    <label>No. Of Gust<span class="star">*</span></label>
                    <input type="text" name="gust" class="lh-book-form-control">
                    <i class="ri-user-line"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="lh-book-tale-box">
                    <label>Date & Time<span class="star">*</span></label>
                    <div class="calendar" id="date_1">
                        <input type="text" class="lh-book-form-control">
                        <i class="ri-calendar-event-line"></i>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="lh-book-tale-contain">
                    <h6>No refunds will be given once you booked</h6>
                </div>
                <div class="lh-book-tale-buttons">
                    <a class="lh-buttons result-placeholder" href="checkout.html">
                        Book Table
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>











    <!-- testimonials -->
    <section class="section-testimonials bg-gray padding-tb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" data-aos="fade-up" data-aos-duration="2000">
                    <div class="lh-slider">
                        <div class="lh-slide slide-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 p-0 align-self-center">
                                        <div class="lh-testimonials">
                                            <div class="row">
                                                <div class="lh-testimonials-contain">
                                                    <div class="d-flex">
                                                        <div class="lh-testimonials-inner">
                                                            <img src="{% static 'hotel/assets/img/businessman/businessman-1.jpg' %}"
                                                                alt="businessman" class="businessman">
                                                            <div class="lh-testimonials-name-detalis">
                                                                <h5>Jenifer Brown</h5>
                                                                <span>Bristol, Uk</span>
                                                            </div>
                                                        </div>
                                                        <div class="lh-testimonials-side-image">
                                                            <img src="{% static 'hotel/assets/img/testimonials/quotes.svg' %}"
                                                                class="testimonials svg-img" alt="quotes">
                                                        </div>
                                                    </div>
                                                    <p>
                                                        "This is the dolor sit amet consectetur adipisicing elit. Cumque
                                                        odit,
                                                        voluptatum quibusdam fugiat ratione exercitationem, voluptates
                                                        deserunt
                                                        atque sint veniam sit ducimus optio! Blanditiis earum nesciunt
                                                        exercitationem, animi alias ab!"
                                                    </p>
                                                    <div class="lh-testimonials-holiday">
                                                        <span>"Amenities At Hotel"</span>
                                                        <div class="lh-star">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lh-slide slide-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 p-0 align-self-center">
                                        <div class="lh-testimonials">
                                            <div class="row">
                                                <div class="lh-testimonials-contain">
                                                    <div class="d-flex">
                                                        <div class="lh-testimonials-inner">
                                                            <img src="{% static 'hotel/assets/img/businessman/businessman-2.jpg' %}"
                                                                alt="businessman" class="businessman">
                                                            <div class="lh-testimonials-name-detalis">
                                                                <h5>John Doe</h5>
                                                                <span>Bristol, Uk</span>
                                                            </div>
                                                        </div>
                                                        <div class="lh-testimonials-side-image">
                                                            <img src="{% static 'hotel/assets/img/testimonials/quotes.svg' %}"
                                                                class="testimonials svg-img" alt="quotes">
                                                        </div>
                                                    </div>
                                                    <p>
                                                        "This is the dolor sit amet consectetur adipisicing elit. Cumque
                                                        odit,
                                                        voluptatum quibusdam fugiat ratione exercitationem, voluptates
                                                        deserunt
                                                        atque sint veniam sit ducimus optio! Blanditiis earum nesciunt
                                                        exercitationem, animi alias ab!"
                                                    </p>
                                                    <div class="lh-testimonials-holiday">
                                                        <span>"Room Service"</span>
                                                        <div class="lh-star">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lh-slide slide-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 p-0 align-self-center">
                                        <div class="lh-testimonials">
                                            <div class="row">
                                                <div class="lh-testimonials-contain">
                                                    <div class="d-flex">
                                                        <div class="lh-testimonials-inner">
                                                            <img src="{% static 'hotel/assets/img/businessman/businessman-3.jpg' %}"
                                                                alt="businessman" class="businessman">
                                                            <div class="lh-testimonials-name-detalis">
                                                                <h5>Moris Selemen</h5>
                                                                <span>Bristol, Uk</span>
                                                            </div>
                                                        </div>
                                                        <div class="lh-testimonials-side-image">
                                                            <img src="{% static 'hotel/assets/img/testimonials/quotes.svg' %}"
                                                                class="testimonials svg-img" alt="quotes">
                                                        </div>
                                                    </div>
                                                    <p>
                                                        "This is the dolor sit amet consectetur adipisicing elit. Cumque
                                                        odit,
                                                        voluptatum quibusdam fugiat ratione exercitationem, voluptates
                                                        deserunt
                                                        atque sint veniam sit ducimus optio! Blanditiis earum nesciunt
                                                        exercitationem, animi alias ab!"
                                                    </p>
                                                    <div class="lh-testimonials-holiday">
                                                        <span>"Restaurants Dessert"</span>
                                                        <div class="lh-star">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
   
</div>
{% endblock %}