{% extends 'hotelbase.html' %}
{% block content %}
{% load static %}


<div class="main-content">
    <!-- Banner -->
    <section class="section-banner">
        <div class="row banner-image">
            <div class="banner-overlay"></div>
            <div class="banner-section">
                <div class="lh-banner-contain">
                    <h2>Our Services</h2>
                    <div class="lh-breadcrumb">
                        <h5>
                            <span class="lh-inner-breadcrumb">
                                <a href="{% url 'user-panel:index' company_name=company_name %}">Home</a>
                            </span>
                            <span> / </span>
                            <span>
                                <a href="javascript:void(0)">Our Services</a>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-services padding-tb-100">
        <div class="container">
            <div class="banner" data-aos="fade-up" data-aos-duration="1200">
                <h2>Enjoy Your Best <span>Services</span></h2>
            </div>
            {% if services %}
            <div class="row mtb-m-12">
                {% for service in services %}
                <div class="col-lg-4 col-md-6 m-tb-12">
                    <div class="lh-services" data-aos="fade-up" data-aos-duration="1200">
                        <div class="lh-services-contain">
                            <div class="lh-icon">
                                <img src="{{ service.icon.url }}" class="svg-img" alt="{{ service.name }}">
                            </div>
                            <h4 class="lh-services-heading">{{ service.name }}</h4>
                            <p>{{ service.description }}</p>
                        </div>
                        <div class="lh-services-image">
                            <img src="{{ service.image.url }}" alt="{{ service.name }}">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h3>No Services Available</h3>
                </div>
            </div>
            {% endif %}
        </div>
    </section>


</div>
{% endblock %}
