{% extends 'hotelbase.html' %}
{% block content %}
{% load static %}

    <!-- Banner -->
     <div class="main-content">
    <section class="section-banner">
        <div class="row banner-image">
            <div class="banner-overlay"></div>
            <div class="banner-section">
                <div class="lh-banner-contain">
                    <h2>Spa</h2>
                    <div class="lh-breadcrumb">
                        <h5>
                            <span class="lh-inner-breadcrumb">
                                <a href="{% url 'user-panel:index' company_name=company_name %}">Home</a>
                            </span>
                            <span> / </span>
                            <span>
                                <a href="javascript:void(0)">Spa</a>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Spa-booking -->
    <section class="section-spa-booking padding-tb-100">
        <div class="container">
            <div class="row">
                <div class="banner" data-aos="fade-up" data-aos-duration="1200">
                    <h2>What We're <span>Offering</span></h2>
                </div>
                {% for spa in spa %}
                <div class="col-lg-4 rs-pb-24">
                    <div class="lh-spa-booking" data-aos="fade-up" data-aos-duration="1200">
                        <div class="lh-spa-image">
                            <img src="{{ spa.image.url }}" alt="{{ spa.name }}">
                        </div>
                        <div class="lh-spa-contain">
                            <span> <i class="ri-time-line"></i> Daily {{ spa.from_time }} to {{ spa.to_time }}</span>
                            <h4>{{ spa.name }}</h4>
                            <p>{{ spa.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>

    

    <!-- Faq -->
    <section class="section-faq bg-gray padding-tb-100">
        <div class="container">
            <div class="banner" data-aos="fade-up" data-aos-duration="2000">
                <h2>Frequently Asked <span>Questions</span></h2>
            </div>
            <div class="ld-faq bg-white" data-aos="fade-up" data-aos-duration="2000">
                <div class="accordion" id="accordionExample">
                    {% for faq in faqs %}

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                            <button class="accordion-button {% if not forloop.first %}collapsed{% endif %} shadow-none" 
                                    type="button" 
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ forloop.counter }}" 
                                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                    aria-controls="collapse{{ forloop.counter }}">
                                {{ faq.question }}
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter }}" 
                             class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" 
                             aria-labelledby="heading{{ forloop.counter }}"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>{{ faq.answer }}</p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                                <div class="accordion-item">
                                    <div class="accordion-body">
                                        <p>No FAQs available at the moment.</p>
                                    </div>
                                </div>
                            {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>
    </div>

{% endblock %}