<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="shortcut icon" href="img/icon.ico">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="Being a budget hotel software, Bloom UpLite comes with 5 operationally essential modules. It is a set of fully integrated modules that handle reservation, room operations, housekeeping, guest engagement and so. This system removes all the concerns and expenses of purchasing the advanced hardware usually associated with property management systems.">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Bloom UpPMS can be classified as best hotel management software (HMS), hotel reservation software, hotel front desk software, resort booking software, hotel accounting softwares, top hotel PMS software, resort software, property management system, hospitality management System, motel software, lodging software, hostel software and condo software.">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Best Hotel Management System | #1 Hotel Software on Cloud</title>
       <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/magnific-popup.css">-->
    <!--<link rel="stylesheet" href="css/nice-select.css">-->
    <link rel="stylesheet" href="css/animate.min.css">
    <!--<link rel="stylesheet" href="css/owl.carousel.css">-->
    <link rel="stylesheet" href="css/mainb52e.css?ver=5">
    <link rel="stylesheet" href="css/responsive.css">


  
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CL6FNEMREJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CL6FNEMREJ');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 958701517 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-958701517"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-958701517');
    </script>


</head>
<body>
    <header id="header" id="home">
        <div class="col-md-12">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="top-aea">
                    <div class="header-upper-left"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+91 9831027443">+91 9831027443</a> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a> </div>
                    <div class="header-upper-right"> Stay Connect <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="Free-trial.html" class="button-upper">Start Free Trial</a> </div>
                </div>
                <div id="logo"> <a href="index.html"><img src="img/img/full-logo.png" alt="" title="" /></a> </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <!--<li><a href="index.html#about">About</a></li>-->
                        <!-- <li class="menu-has-children menu-active">
                            <a href="#">Products</a>
                            <ul>
                                <li><a href="Exceed-Cloud.html">Hotel Software - On Cloud</a></li>
                                <li><a href="Exceed-Desktop.html">Hotel Software - On-Premises</a></li>
                                <li><a href="Exceed-Lite.html">Hotel Software - Lite</a></li>
                                <li><a href="Exceed-Restaurants-POS.html">Restaurant Software</a></li>
                                <li><a href="Channel-Manager.html">Hotel Channel Manager</a></li>
                                <li><a href="Exceed-Booking-Engine.html">Hotel Website Booking Engine</a></li>
                                <li><a href="Tally-Interface.html">Tally Interface</a></li>
                                <li><a href="Central-Reservation.html">Central Reservation System</a></li>
                            </ul>
                        </li> -->
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                        
                        <li><a href="support.html">Support</a></li>
                        <li><a href="contact.html">Contacts</a></li>
                       
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="generic-banner-content">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper mt-50">
        <!-- Start Reservation Management Area -->
        <section class="inner-area-two">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 counter-area">
                        <div class="container">
                            <h1 class="mt-50 mb-20">Bloom UpLite</h1>
                            <p class="mb-20">Being a budget hotel software, Bloom UpLite comes with 5 operationally essential modules. It is a set of fully integrated modules that handle reservation, room operations, housekeeping, guest engagement and so. This system removes all the concerns and expenses of purchasing the advanced hardware usually associated with property management systems.</p>
                            <p class="mb-30">
                                Bloom UpHotel PMS perfectly suits the needs of various types of properties and used in hotels, motels, resorts, clubs, B & B's, small hotel franchisees, clubs, condos, hostels, apartments and
                                more.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about-left no-padding"> <img class="img-fluid" src="img/Reservation-Management.jpg" alt="Bloom UpReservation Management"> </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="inner-area-two-text">
                            <h2 class="mb-30 mt-50">Reservation Management</h2>
                            <ul>
                                <li>Instant Search Reservation</li>
                                <li>Guest and Company Profile Management</li>
                                <li>Rate Management</li>
                                <li>Cancellation / No-Show</li>
                                <li>Booking Confirmation</li>
                                <li>Room or Room Type Booking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="inner-area-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 about-left no-padding mobile"> <img class="img-fluid" src="img/Front-Office-Management.jpg" alt="Bloom UpFront Office Management"> </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="inner-area-two-text">
                            <h2 class="mb-30 mt-50">Front Office Management</h2>
                            <ul>
                                <li>Quick check-in and check-out</li>
                                <li>Express Check-in and Easy Group Check-in</li>
                                <li>Configure and post Charges</li>
                                <li>Cashiering- handles various transactions on single screen</li>
                                <li>Night auditing and Various MIS/Flash reports</li>
                                <li>Guest Notifications via SMS and Email</li>
                                <li>Early Check-In Charges</li>
                                <li>Day-Use Charge</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about-left no-padding desktop"> <img class="img-fluid" src="img/Front-Office-Management.jpg" alt="Bloom UpFront Office Management"> </div>
                </div>
            </div>
        </section>
       
        <section class="inner-area-two">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 about-left no-padding"> <img class="img-fluid" src="img/Pos-Sales.jpg" alt="Bloom UpPos Sales"> </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="inner-area-two-text">
                            <h2 class="mb-30 mt-50">Pos Sales</h2>
                            <ul>
                                <li>Touch POS</li>
                                <li>Multi Outlet</li>
                                <li>Best in class Touch Interface System Mobile, Tablet and Computer</li>
                                <li>Fast Order and Invoice Generations</li>
                                <li>Complete integration with FO for room service</li>
                                <li>Kitchen Display System</li>
                                <li>Remote Order Printing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="inner-area-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 about-left no-padding mobile"> <img class="img-fluid" src="img/Financial-Accounts.jpg" alt="Bloom UpFinancial Accounts"> </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="inner-area-two-text">
                            <h2 class="mb-30 mt-50">Financial Accounts</h2>
                            <ul>
                                <li>Complete Receivables and Payables</li>
                                <li>Cash/Bank Receipts and Payments</li>
                                <li>Multi Account Journal Entries</li>
                                <li>Cash and Bank Statements</li>
                                <li>Bank Reconciliations Statement</li>
                                <li>Ageing Report for Dues</li>
                                <li>Debtors Statement</li>
                                <li>Lookups & Balance Sheet, Trail and P/L Statements</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about-left no-padding desktop"> <img class="img-fluid" src="img/Financial-Accounts.jpg" alt="Bloom UpFinancial Accounts"> </div>
                </div>
            </div>
        </section>
     

    </div>
    <footer class=" footer-area pt-50 pb-50" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                            <li><a href="support.html">Support</a></li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-center">Get Us Connected</h4>
                        <div class="footer-social align-items-center"> <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="skype:live:.cid.42b642868f0f6f5e?call" target="_blank" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </div>
                        <div class="footer-social align-items-center button-free-trial">
                            <p><a href="Free-trial.html">START FREE TRIAL</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4  col-md-12 col-sm-12">
                    <div class="single-footer-widget footer-text-right">
                        <p class="footer-text mt-30">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bestman Bloom UpSoftware LLP<br />All Rights Reserved
                        </p>
                        <p>
                            <a href="terms-and-conditions.html" class="text-white ml-0">Terms And Conditions</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="privacy-policy.html" class="text-white ml-0">Privacy Policy</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="refund-cancellation.html" class="text-white ml-0">Refund Policy</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0" style="display:none;">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <!--<script src="js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--<script src="js/easing.min.js"></script>-->
    <!--<script src="js/hoverIntent.js"></script>-->
    <script src="js/superfish.min.js"></script>
   
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main9055.js?ver=6"></script>
</body>

</html>
