<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="shortcut icon" href="img/icon.ico">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="Bloom UpRestaurant POS - Restaurant Management Software helps you manage Quick and efficient restaurant orders with the touch of your fingers. It’s a one stop solution for all your needs available in both cloud and desktop based solutions.">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Touch POS, Web & Tablet Cloud POS, nventory/Recipe management, Loyalty Program, Supply Chain Management, Kitchen Display System">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Bloom Up- Restaurant Software | #1 Hotel Software on Cloud</title>
   
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
   
    <link rel="stylesheet" href="css/animate.min.css">
    <!--<link rel="stylesheet" href="css/owl.carousel.css">-->
    <link rel="stylesheet" href="css/mainb52e.css?ver=5">
    <link rel="stylesheet" href="css/responsive.css">


   
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CL6FNEMREJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CL6FNEMREJ');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 958701517 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-958701517"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-958701517');
    </script>

</head>
<body>
    <header id="header" id="home">
        <div class="col-md-12">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="top-aea">
                    <div class="header-upper-left"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+91 9831027443">+91 9831027443</a> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a></div>
                    <div class="header-upper-right"> Stay Connect <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="Free-trial.html" class="button-upper">Start Free Trial</a> </div>
                </div>
                <div id="logo"> <a href="index.html"><img src="img/img/full-logo.png" alt="" title="" /></a> </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <!--<li><a href="index.html#about">About</a></li>-->
                        <!-- <li class="menu-has-children menu-active">
                            <a href="#">Products</a>
                            <ul>
                                <li><a href="Exceed-Cloud.html">Hotel Software - On Cloud</a></li>
                                <li><a href="Exceed-Desktop.html">Hotel Software - On-Premises</a></li>
                                <li><a href="Exceed-Lite.html">Hotel Software - Lite</a></li>
                                <li><a href="Exceed-Restaurants-POS.html">Restaurant Software</a></li>
                                <li><a href="Channel-Manager.html">Hotel Channel Manager</a></li>
                                <li><a href="Exceed-Booking-Engine.html">Hotel Website Booking Engine</a></li>
                                <li><a href="Tally-Interface.html">Tally Interface</a></li>
                                <li><a href="Central-Reservation.html">Central Reservation System</a></li>
                            </ul>
                        </li> -->
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                        
                        <li><a href="support.html">Support</a></li>
                        <li><a href="contact.html">Contacts</a></li>
                     
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="generic-banner-content">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper mt-50">
        <!-- Start Reservation Management Area -->
        <section class="inner-area-two">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 counter-area">
                        <h1 class="mt-50 mb-50">Bloom UpRestaurant Software POS</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Reservation Management Start -->
        <!-- Start POS Features Area -->
        <section class="inner-area-four">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="inner-area-four-text">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 mt-15 mb-15">
                                    <div class="inner-area-service">
                                        <h4>Touch POS</h4>
                                        <p>Quick and efficient restaurant orders with the touch of your fingers. Get visual representation of table status, available or occupied, due-bills & order time in a glance. Easy mufti-outlet operations.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mt-15 mb-15">
                                    <div class="inner-area-service">
                                        <h4>Web & Tablet Cloud POS</h4>
                                        <p>Scale up your restaurant business with web & tablet based cloud POS. Enjoy faster billing, detailed reports, easy order management and manage your multi-location food joints with ease.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mt-15 mb-15">
                                    <div class="inner-area-service">
                                        <h4>Inventory/Recipe management</h4>
                                        <p>Map your delicious dishes to their ingredients and take control to provide complete kitchen balance. Calculate production and cost incurred to manage prices. Manage accuracy in kitchens.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mt-15 mb-15">
                                    <div class="inner-area-service">
                                        <h4>Loyalty Program</h4>
                                        <p>Pull more foodies to your restaurant and keep them coming back - release coupons, vouchers, promotional SMS, happy hour offers, personalized offers for regulars, corporate and more.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mt-15 mb-15">
                                    <div class="inner-area-service">
                                        <h4>Supply Chain Management</h4>
                                        <p>Centrally control and monitor real time stock of all restaurants and central kitchen. Take informed action from anywhere with web access to all stores and feel confident to open more.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mt-15 mb-15">
                                    <div class="inner-area-service">
                                        <h4>Kitchen Display System</h4>
                                        <p>All day display and production item counts. Spend more time focused on preparing food than counting tickets. Ensure one dish doesn’t get cold while another is still on the grill.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 about-left no-padding"> <img class="img-fluid" src="img/Restaurant-POS.jpg" alt="Bloom UpRestaurant POS System"> </div>
                </div>
            </div>
        </section>
      
        <section class="inner-area-two">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 about-left no-padding"> <img class="img-fluid" src="img/Restaurant-Software-POS.jpg" alt="Bloom UpRestaurant Software POS Features"> </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="inner-area-two-text">
                            <h2 class="mb-30 mt-50">Features</h2>
                            <ul>
                                <li>Touch POS</li>
                                <li>Fast Order Generations</li>
                                <li>Multi Outlet</li>
                                <li>Recipe Management</li>
                                <li>Inventory Management</li>
                                <li>Kitchen Display System</li>
                                <li>Remote Order Printing</li>
                                <li>Best in class Touch Interface System Mobile, Tablet and Computer</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Reservation Management Start -->

    </div>
    <footer class=" footer-area pt-50 pb-50" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                            <li><a href="support.html">Support</a></li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-center">Get Us Connected</h4>
                        <div class="footer-social align-items-center"> <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="skype:live:.cid.42b642868f0f6f5e?call" target="_blank" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </div>
                        <div class="footer-social align-items-center button-free-trial">
                            <p><a href="Free-trial.html">START FREE TRIAL</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4  col-md-12 col-sm-12">
                    <div class="single-footer-widget footer-text-right">
                        <p class="footer-text mt-30">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bestman Bloom UpSoftware LLP<br />All Rights Reserved
                        </p>
                        <p>
                            <a href="terms-and-conditions.html" class="text-white ml-0">Terms And Conditions</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="privacy-policy.html" class="text-white ml-0">Privacy Policy</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="refund-cancellation.html" class="text-white ml-0">Refund Policy</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0" style="display:none;">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--<script src="js/easing.min.js"></script>-->
    <!--<script src="js/hoverIntent.js"></script>-->
    <script src="js/superfish.min.js"></script>
   
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main9055.js?ver=6"></script>
</body>

</html>
