{% extends 'sub_base.html' %}
{% block content %}
{% load static %}

<!-- #header -->
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="generic-banner-content">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper mt-50">
        <!-- Start Reservation Management Area -->
        <section class="inner-area-five">
            <div class="container-fluid policy-panel">
                <div class="row">
                    <div class="container">
                        <h1 class="mt-50 mb-20 font-weight-bold">Refund Policy</h1>
                        <h6>Last Updated On : 27<sup>th</sup> August, 2021</h6>
                        <div class="policy-panel-body">
                            <p class="mt-3">The products available for purchase on our web site are try-before-you-buy. We provide free trial periods to let you fully evaluate our products before you make a purchase decision.</p>
                            <p>Please use the trial period to make sure that the software meets your needs before purchasing a license. All of our software is functional during the trial period. None of our software requires registration to enable its primary functionality.</p>
                            <h4>15 Days Guaranteed Refund</h4>
                            <p>We know that sometimes things just don't work out how we'd all like them to, and software is no different. That's why we have our <strong>15 days guaranteed refund policy.</strong></p>
                            <p>If you're not happy, for any reason, within 15 days of purchase, we'll give you your money back. Simple as that. To initiate a refund, you can submit the mail us at <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a>. All refunds should be processed within 5-7 working days.</p>
                            <ul class="ml-4">
                                <li>Refund policy is applicable only for Bloom UpCloud Subscriptions Plans and their add-ons purchased directly from website <a href="index-2.html" target="_blank">https://www.exceedhms.com</a>.</li>
                                <li>After 15 days of the initial purchase date of the subscription, the refund window is closed.</li>
                                <li>Refund is not applicable any of our other products like all on-premises softwares.</li>
                                <li>Refund is not applicable on renewals.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    {% endblock %}