{% extends 'base.html' %}
{% block content %}

{% load static %}	

		<!-- main content -->
		<div class="lh-main-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="lh-card lh-invoice max-width-1170">
							<div class="lh-card-header">
								<h4 class="lh-card-title">Invoice</h4>
								<div class="header-tools">
									<button class="lh-btn-primary m-r-5">Save</button>
									<button class="lh-btn-secondary">Print</button>
								</div>
							</div>
							<div class="lh-card-content card-default">

								<div class="invoice-wrapper">

									<div class="row">
										<div class="col-md-6 col-lg-3 col-sm-6">
											<img class="i-logo" src="{% static 'assets/img/logo/logo-3.png' %}" alt="logo">

											<address>
												<br> 321, Porigo alto, new st george church, Nr. Jogas garden, USA.
											</address>
										</div>
										<div class="col-md-6 col-lg-3 col-sm-6">
											<p class="text-dark mb-2">From</p>

											<address>
												<span>Luxurious</span>
												<br> 47 Elita Squre, VIP Chowk,
												<br> <span>Email:</span> example@gmail.com
												<br> <span>Phone:</span> +91 5264 251 325
											</address>
										</div>
										<div class="col-md-6 col-lg-3 col-sm-6">
											<p class="text-dark mb-2">To</p>

											<address>
												<span>John Marle</span>
												<br> 58 Jamie Ways, North Faye, Q5 5ZP
												<br> <span>Email</span>: example@gmail.com
												<br> <span>Phone:</span> +91 5264 521 943
											</address>
										</div>
										<div class="col-md-6 col-lg-3 col-sm-6">
											<p class="text-dark mb-2">Details</p>

											<address>
												<span>Invoice ID:</span>
												<span class="text-dark">#FX6874</span>
												<br><span>TAX :</span> 5835FA5****5S
												<br><span>Bank :</span> Lotus bank
												<br><span>IFCS :</span> LOT125****US
												<br> <span>VAT:</span> PL6541215450
											</address>
										</div>
									</div>
									<div class="lh-chart-header">
										<div class="block">
											<h6>Invoice</h6>
											<h5>#FX6874</h5>
										</div>
										<div class="block">
											<h6>Amount</h6>
											<h5>$8954.00</h5>
										</div>
										<div class="block">
											<h6>CheckIn</h6>
											<h5>25/05/2024</h5>
										</div>
										<div class="block">
											<h6>CheckOut</h6>
											<h5>30/05/2024</h5>
										</div>
									</div>
									<div class="table-responsive tbl-800">
										<div>
											<table class="table-invoice table-striped" style="width:100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Image</th>
														<th>Item</th>
														<th>Description</th>
														<th>Quantity</th>
														<th>Unit_Cost</th>
														<th>Total</th>
													</tr>
												</thead>

												<tbody>
													<tr>
														<td>1</td>
														<td><img class="invoice-item-img" src="{% static 'assets/img/room/1.png' %}"
																alt="product-image"></td>
														<td>Super Deluxe Room</td>
														<td>Best deluxe suite with extra facilities free.</td>
														<td>2</td>
														<td>$250.00</td>
														<td>$500.00</td>
													</tr>

													<tr>
														<td>2</td>
														<td><img class="invoice-item-img" src="{% static 'assets/img/restaurant/1.png' %}"
																alt="product-image"></td>
														<td>Toast with butter-jam</td>
														<td>Breakfast Toast with butter and jam.</td>
														<td>1</td>
														<td>$50.00</td>
														<td>$50.00</td>
													</tr>

													<tr>
														<td>3</td>
														<td><img class="invoice-item-img" src="{% static 'assets/img/restaurant/2.png' %}"
																alt="product-image"></td>
														<td>Hummus and vegetable wrap</td>
														<td>Lunch Hummus and vegetable wrap.</td>
														<td>1</td>
														<td>$20.00</td>
														<td>$20.00</td>
													</tr>

													<tr>
														<td>4</td>
														<td><img class="invoice-item-img" src="{% static 'assets/img/restaurant/3.png' %}"
																alt="product-image"></td>
														<td>Chickpea and Veg Stir-Fry</td>
														<td>Dinner Chickpea and Veg Stir-Fry.</td>
														<td>1</td>
														<td>$50.00</td>
														<td>$50.00</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<div class="row justify-content-end inc-total">
										<div class="col-lg-9 order-lg-1 order-md-2 order-sm-2">
											<div class="note">
												<label>Note</label>
												<p>Your country territory tax has been apply.</p>
												<p>Your voucher cannot be applied, because you enter wrong code.</p>
											</div>
										</div>
										<div class="col-lg-3 order-lg-2 order-md-1 order-sm-1">
											<ul class="list-unstyled">
												<li class="mid pb-3 text-dark"> Subtotal
													<span
														class="d-inline-block float-right text-default">$620.00</span>
												</li>

												<li class="mid pb-3 text-dark">Vat(10%)
													<span class="d-inline-block float-right text-default">$100.00</span>
												</li>

												<li class="text-dark">Total
													<span class="d-inline-block float-right">$720.00</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

	


</html>