{% extends 'base.html' %}
{% block content %}

{% load static %}
		<!-- main content -->
		<div class="lh-main-content">
			<div class="container-fluid">
				<!-- Page title & breadcrumb -->
				<div class="lh-page-title lh-page-title-2">
					<div class="lh-breadcrumb">
						<h5>Add Members</h5>
						<ul>
							<li><a href="{% url 'admin-panel:index' %}">Luxurious</a></li>
							<li>Team Add</li>
						</ul>
					</div>
				</div>
				<form class="lh-profile-add" action="{% url 'admin-panel:add_team_member' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
					<div class="row">
						<div class="col-xxl-3 col-xl-4 col-md-12">
							<div class="team-sticky-bar">
								<div class="col-xl-12">
									<div class="lh-card">
										<div class="lh-card-content">
											<div class="lh-team-block-img">
												<div class="lh-team-block-detail">
													<div class="profile-img">
														<div class="avatar-preview">
															<div class="t-img" id="imagePreview"
																style="background-image: url('{% static 'assets/img/user/thumb.jpg' %}')">
															</div>
														</div>
														<span class="tag-label online"></span>
														<div class="avatar-edit">
															<input type='file' id="imageUpload" name="image"
																accept="image/*">
															<label for="imageUpload"></label>
														</div>
													</div>
													<div class="form-group p-b-15">
														<input type="text" class="form-control" id="name_profile" name="name"
															placeholder="Enter name">
														{% if form.name.errors %}
															<div class="text-danger">{{ form.name.errors|join:", " }}</div>
														{% endif %}
													</div>
													<div class="form-group p-b-15" >
														<input type="text" class="form-control" id="designation" name="designation"
															placeholder="Enter Designation">
														{% if form.designation.errors %}
															<div class="text-danger">{{ form.designation.errors|join:", " }}</div>
														{% endif %}

													</div>

													<div class="lh-settings">	
														<button type="submit" class="lh-btn-primary m-r-10" style="width: 100%;">Add Profile</button>
														<div class="dropdown" title="Status">
															<button class="btn btn-secondary dropdown-toggle"
																type="button" data-bs-toggle="dropdown"
																aria-expanded="false" style="width: 40px;">
																<i class="mdi mdi-dots-vertical"></i>
															</button>
															<ul class="dropdown-menu">
																<li><a class="dropdown-item" href="#"><span
																			class="tag-label online"></span>Online</a>
																</li>
																<li><a class="dropdown-item" href="#"><span
																			class="tag-label offline"></span>Offline</a>
																</li>
																<li><a class="dropdown-item" href="#"><span
																			class="tag-label busy"></span>Busy</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="form-group">
													<textarea class="form-control" id="profile_detail" rows="9" name="description"
														placeholder="Enter Details"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xxl-9 col-xl-8 col-md-12">
							<div class="lh-card team-overview">
								<div class="lh-card-content lh-card-team team-details">
									<div class="row">
										<div class="col-sm-12">
											<h3>Account Details</h3>
											<div class="lh-team-detail">
												<p>From your account you can easily view and track Deals. You can manage
													and change your account information like address, contact
													information
													and history of deals.</p>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="lh-team-detail">
												<h6>E-mail address</h6>
												<ul>
													<li><strong>Email 1 : </strong>
														<div class="form-group">
															<input type="email" class="form-control" name="email1"
																placeholder="Enter email" >
															{% if form.email1.errors %}
																<div class="text-danger">{{ form.email1.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
													<li><strong>Email 2 : </strong>
														<div class="form-group">
															<input type="email" class="form-control" name="email2"
																placeholder="Enter email">
															
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="lh-team-detail">
												<h6>Contact nubmer</h6>
												<ul>
													<li><strong>Phone Nubmer 1 : </strong>
														<div class="form-group">
															<input type="text" class="form-control" name="phone1"
																placeholder="Enter number">
															{% if form.phone1.errors %}
																<div class="text-danger">{{ form.phone1.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
													<li><strong>Phone Nubmer 2 : </strong>
														<div class="form-group">
															<input type="text" class="form-control" name="phone2"
																placeholder="Enter number">
															
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="lh-team-detail">
												<h6>Home Address</h6>
												<ul>
													<li>
														<textarea class="form-control" id="profile_address1" rows="2" name="address1"
															placeholder="Home address"></textarea>
															
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="lh-team-detail">
												<h6>Current Address</h6>
												<ul>
													<li>
														<textarea class="form-control" id="profile_address2" rows="2" name="address2"
															placeholder="Current address"></textarea>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="lh-team-detail">
												<h6>Bank Accounts</h6>
												<ul>
													<li><strong>Account Name : </strong>
														<div class="form-group">
															<input type="text" class="form-control" name="account_name"
																placeholder="Enter acc name" >
															{% if form.account_name.errors %}
																<div class="text-danger">{{ form.account_name.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
													<li><strong>Account Number : </strong>
														<div class="form-group">
															<input type="text" class="form-control" name="account_number"
																placeholder="Enter acc number" >
															{% if form.account_number.errors %}
																<div class="text-danger">{{ form.account_number.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
													<li><strong>IFSC Code : </strong>
														<div class="form-group">
															<input type="text" class="form-control" name="ifsc_code"
																placeholder="Enter acc ifsc">
															{% if form.ifsc_code.errors %}
																<div class="text-danger">{{ form.ifsc_code.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
													<li><strong>Bank name : </strong>
														<div class="form-group">
															<input type="text" class="form-control" name="bank_name"
																placeholder="Enter bank name"	>
															{% if form.bank_name.errors %}
																<div class="text-danger">{{ form.bank_name.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="lh-team-detail">
												<h6>Social media</h6>
												<ul>
													<li><strong>Facebook</strong>
														<div class="form-group">
															<input type="text" class="form-control" name="facebook"
																placeholder="Faceboot id">
														</div>
													</li>
													<li><strong>Twitter</strong>
														<div class="form-group">
															<input type="text" class="form-control" name="twitter"
																placeholder="Twitter id">
														</div>
													</li>
													<li><strong>Linkedin</strong>
														<div class="form-group">
															<input type="text" class="form-control" name="linkedin"
																placeholder="Linkedin id">
														</div>
													</li>
													<li><strong>Github</strong>
														<div class="form-group">
															<input type="text" class="form-control" name="github"
																placeholder="Github Id">
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="lh-team-detail">
												<h6>Aadhar Info</h6>
												<ul>
													<li><strong>Aadhar No : </strong>
														<div class="form-group">
															<input type="text" class="form-control" name="aadhar_no"
																placeholder="Aadhar No ">
															{% if form.aadhar_no.errors %}
																<div class="text-danger">{{ form.aadhar_no.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
													<li><strong>Aadhar File : </strong>
														<div class="form-group">
															<input type="file" class="form-control" name="aadhar_file"
																placeholder="No file Choosen" >
																{% if form.aadhar_file.errors %}
																<div class="text-danger">{{ form.aadhar_file.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="lh-team-detail">
												<h6>PAN Info</h6>
												<ul>
													<li><strong>PAN NO : </strong>
														<div class="form-group">
															<input type="text" class="form-control" name="pan_no"
																placeholder="PAN No">
																{% if form.pan_no.errors %}
																<div class="text-danger">{{ form.pan_no.errors|join:", " }}</div>
															{% endif %}
														</div>
													</li>
													<li><strong>PAN File : </strong>
														<div class="form-group">
															<input type="file" class="form-control" name="pan_file"
																	placeholder="No File Choosen" >
																	{% if form.pan_file.errors %}
																	<div class="text-danger">{{ form.pan_file.errors|join:", " }}</div>
																{% endif %}
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Footer -->
		
	</main>

	{% endblock %}
	
	<!-- {% block extra_js %}
<script>
    {% if form_errors %}
        document.addEventListener('DOMContentLoaded', function() {
            var formErrors = JSON.parse('{{ form_errors|escapejs }}');
            var errorMessage = '';
            Object.entries(formErrors).forEach(function([field, errors]) {
                errorMessage += field + ': ' + errors.join(', ') + '\n';
            });

            swal({
                title: "Error!",
                text: errorMessage,
                type: "error", 
                confirmButtonText: "OK"
            });
        });
    {% endif %}
</script>
{% endblock %} -->


