<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="shortcut icon" href="img/icon.ico">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="A hotel CRS system or better known as central reservation system enables all kinds and sizes of hotel groups and chains to maintain a complete and centralized control over their reservations in multiple locations.">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Reservation Management, Front Office Management, Pos Sales, Banquet Management, Material Managemnent, Financial Accounts, Touch POS, Kitchen Display System,Fast Order and Invoice Generations, Best in class Touch Interface System Mobile, Tablet and Computer">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Bloom Up- Central Reservation System | #1 Hotel Software on Cloud</title>
    
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
   
    <link rel="stylesheet" href="css/animate.min.css">
    <!--<link rel="stylesheet" href="css/owl.carousel.css">-->
    <link rel="stylesheet" href="css/mainb52e.css?ver=5">
    <link rel="stylesheet" href="css/responsive.css">


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CL6FNEMREJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CL6FNEMREJ');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 958701517 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-958701517"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-958701517');
    </script>
</head>
<body>
    <header id="header" id="home">
        <div class="col-md-12">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="top-aea">
                    <div class="header-upper-left"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+91 9831027443">+91 9831027443</a> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a></div>
                    <div class="header-upper-right"> Stay Connect <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="Free-trial.html" class="button-upper">Start Free Trial</a> </div>
                </div>
                <div id="logo"> <a href="index.html"><img src="img/img/full-logo.png" alt="" title="" /></a> </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <!--<li><a href="index.html#about">About</a></li>-->
                        <!-- <li class="menu-has-children menu-active">
                            <a href="#">Products</a>
                            <ul>
                                <li><a href="Exceed-Cloud.html">Hotel Software - On Cloud</a></li>
                                <li><a href="Exceed-Desktop.html">Hotel Software - On-Premises</a></li>
                                <li><a href="Exceed-Lite.html">Hotel Software - Lite</a></li>
                                <li><a href="Exceed-Restaurants-POS.html">Restaurant Software</a></li>
                                <li><a href="Channel-Manager.html">Hotel Channel Manager</a></li>
                                <li><a href="Exceed-Booking-Engine.html">Hotel Website Booking Engine</a></li>
                                <li><a href="Tally-Interface.html">Tally Interface</a></li>
                                <li><a href="Central-Reservation.html">Central Reservation System</a></li>
                            </ul>
                        </li> -->
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                        
                        <li><a href="support.html">Support</a></li>
                        <li><a href="contact.html">Contacts</a></li>

                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="generic-banner-content">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <div class="main-wrapper mt-50">
        <!-- Start Reservation Management Area -->
        <section class="inner-area-two">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 counter-area">
                        <div class="container">
                            <h1 class="mt-50 mb-20">Central Reservation comes into use for your hotel chain</h1>
                            <p class="mb-50">A hotel CRS system or better known as central reservation system enables all kinds and sizes of hotel groups and chains to maintain a complete and centralized control over their reservations in multiple locations.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 about-left no-padding"> <img class="img-fluid" src="img/csr.jpg" alt="Central Reservation"> </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="inner-area-two-text">
                            <div class="row">
                                <div class="col-md-4"><img class="img-fluid" src="img/Inventory-Icon.png" alt="Centralized control on inventory"></div>
                                <div class="col-md-8">
                                    <h3>Centralized Control On Inventory</h3>
                                    <p>You can monitor the entire inventory of all your locations on OTAs, GDS, hotel website and other channels from one place with the CRS system.</p>
                                </div>
                            </div>
                            <div class="row mt-30">
                                <div class="col-md-4"><img class="img-fluid" src="img/Call-Center-Booking.png" alt="One call-centre for bookings"></div>
                                <div class="col-md-8">
                                    <h3>One Call-Centre For Bookings</h3>
                                    <p>The central reservation system enables you to take bookings and enquiries of any location of your hotel group from a single window.</p>
                                </div>
                            </div>
                            <div class="row mt-30">
                                <div class="col-md-4"><img class="img-fluid" src="img/Guest-Profile.png" alt="Centralized guest profile"></div>
                                <div class="col-md-8">
                                    <h3>Centralized Guest Profile</h3>
                                    <p>The CRS hotel system helps you serve your guests better by generating a single profile of all the guests staying at any location of your hotel chain.</p>
                                </div>
                            </div>
                            <div class="row mt-30">
                                <div class="col-md-4"><img class="img-fluid" src="img/Tavel-Agent-Profile.png" alt="Centralized travel agents profile"></div>
                                <div class="col-md-8">
                                    <h3>Centralized Travel Agents Profile</h3>
                                    <p>Handle all your chain-wide travel agents and keep track of the bookings they get for you effortlessly, all from a single place with our CRS system.</p>
                                </div>
                            </div>
                            <div class="row mt-30">
                                <div class="col-md-4"><img class="img-fluid" src="img/One-Booking-Icon.png" alt="One booking One Voucher"></div>
                                <div class="col-md-8">
                                    <h3>One booking One Voucher</h3>
                                    <p>Regardless of the locations your guest books at in his one journey, he’ll get just one voucher. This reduces his to and fro to check multiple vouchers.</p>
                                </div>
                            </div>
                            <div class="row mt-30">
                                <div class="col-md-4"><img class="img-fluid" src="img/Single-Login-Icon.png" alt="Multiple Properties Single Login"></div>
                                <div class="col-md-8">
                                    <h3>Multiple Properties Single Login</h3>
                                    <p>Our central reservation system for hotels gets you a single login across all your properties, relieving you from multiple login credentials.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Reservation Management Start -->


    </div>
    <footer class=" footer-area pt-50 pb-50" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                            <li><a href="support.html">Support</a></li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-center">Get Us Connected</h4>
                        <div class="footer-social align-items-center"> <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="skype:live:.cid.42b642868f0f6f5e?call" target="_blank" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </div>
                        <div class="footer-social align-items-center button-free-trial">
                            <p><a href="Free-trial.html">START FREE TRIAL</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4  col-md-12 col-sm-12">
                    <div class="single-footer-widget footer-text-right">
                        <p class="footer-text mt-30">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bestman Bloom UpSoftware LLP<br />All Rights Reserved
                        </p>
                        <p>
                            <a href="terms-and-conditions.html" class="text-white ml-0">Terms And Conditions</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="privacy-policy.html" class="text-white ml-0">Privacy Policy</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="refund-cancellation.html" class="text-white ml-0">Refund Policy</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0" style="display:none;">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/superfish.min.js"></script>
 
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main9055.js?ver=6"></script>
</body>

</html>
