<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="shortcut icon" href="img/icon.ico">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Best Hotel Management System | #1 Hotel Software on Cloud</title>
   
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/magnific-popup.css">-->
    <!--<link rel="stylesheet" href="css/nice-select.css">-->
    <link rel="stylesheet" href="css/animate.min.css">
    <!--<link rel="stylesheet" href="css/owl.carousel.css">-->
    <link rel="stylesheet" href="css/mainb52e.css?ver=5">
    <link rel="stylesheet" href="css/responsive.css">


   
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CL6FNEMREJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CL6FNEMREJ');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 958701517 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-958701517"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-958701517');
    </script>



</head>
<body>
    <header id="header" id="home">
        <div class="col-md-12">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="top-aea">
                    <div class="header-upper-left"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+91 9831027443">+91 9831027443</a> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a> <i class="fa fa-skype" aria-hidden="true"></i> <a href="skype:live:.cid.42b642868f0f6f5e?call">Quick Contact</a> </div>
                    <div class="header-upper-right"> Stay Connect <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="Free-trial.html" class="button-upper">Start Free Trial</a> </div>
                </div>
                <div id="logo"> <a href="index.html"><img src="img/logo.png" alt="" title="" /></a> </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <!--<li><a href="index.html#about">About</a></li>-->
                      
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                        <li class="menu-active"><a href="Clients.html">Clients</a></li>
                        <li><a href="support.html">Support</a></li>
                        <li><a href="contact.html">Contacts</a></li>
                      
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="generic-banner-content">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper mt-50">
        <!-- Start Reservation Management Area -->
        <section class="inner-area-five">
            <div class="container-fluid">
                <div class="row">
                    <div class="container">
                        <h1 class="mt-50 mb-20">Success Stories</h1>
                        <p class="mb-50">Currently, more than 1000+ clients are taking advantage of Bloom Upproperty management around the world. Check out some of our featured clients using Bloom UpHotel Systems.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Reservation Management Start -->
        <!-- Start WHY Bloom UpArea -->
        <section class="inner-area-four pt-50 pb-50">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="inner-area-five-text">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/client-1.jpg" alt="" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.joiadomar.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/client-2.jpg" alt="" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://senseshotel.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/client-3.jpg" alt="" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.riversidehotelmalawi.com/index.html" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/client-4.jpg" alt="" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.hotelgoldenpark.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/client-5.jpg" alt="" class="image" />
                                        <div class="overlay">
                                            <!--<div class="text-area"><a href="https://the-regalia-resort-in.book.direct/en-gb" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>-->
                                            <div class="text-area"><a href="https://theregaliaresort.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/client-6.jpg" alt="" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.sapphiresuites.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row d-flex justify-content-center mt-20">
                                <!--<div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/skylark-hotels.jpg" alt="skylark-hotels" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.hotelskylark.net/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/casa.png" alt="casa fortuna" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://www.casafortunahotel.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/housez43.jpg" alt="housez43" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://thesparkhotels.com/hotel_details/hotel-housez-43" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/New-Classic-Inn.jpg" alt="New-Classic-Inn" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.newclassicinn.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/sweet-fantasy-resort.png" alt="Sweet Fantasy Resort" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://sweetfantasyresort.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Hotel-Niharika.jpg" alt="Hotel Niharika" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://www.hotelniharika.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/mangalam.png" alt="hotel mangalam bhuj" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://mangalamhotels.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mt-20">
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/hotel-genista-inn.jpg" alt="Hotel Genista Inn, Ranchi" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.hotelgenistainn.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/big-boss-hotel.jpg" alt="Big Boss Hotel, Kolkata" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.bigbosspalace.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/STAYOTEL.jpg" alt="STAYOTEL, Kolkata" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://stayotel.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Hotel-Punyalakshmi.jpg" alt="Hotel Punyalakshmi" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.hotelpunyalakshmi.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Hotel-Aranya-Jungle-Resort.jpg" alt="Hotel Aranya Jungle Resort" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.aranyajungleresort.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Hotel-Amrapali.jpg" alt="Hotel Amrapali, Patna" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://amrapaliresidency.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mt-20">
                               
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/alpine.png" alt="Hotel Alphine Continental" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://www.alpinecontinental.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/tah.jpg" alt="The Ashoka Hotel, Howrah" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.theashokahotel.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/hotel-jiva.png" alt="Hotel jiva" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://www.hoteljiva.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Hotel-Gateway.jpg" alt="Hotel Gateway Continental, Kolkata" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.hotelgatewaycontinental.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Sudesh-Tower.jpg" alt="Sudesh Tower, Kolkata" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.hotelsudeshtower.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Hotel-Royal-Harbour.jpg" alt="Hotel Royal Harbour, Haldia" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://hotel-royal-harbour.business.site/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mt-20">
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/The-Regalia-Alphonso.jpg" alt="The Regalia Alphonso" class="image" />
                                        <div class="overlay">
                                            <!--<div class="text-area"><a href="https://www.facebook.com/TheRegaliaAlphonso/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>-->
                                            <div class="text-area"><a href="https://alphonso.theregaliaresort.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/hotel-samudra.jpg" alt="Hotel Samudra, Puri" class="image" />
                                        <div class="overlay">
                                            <!--<div class="text-area"><a href="https://www.samudrapuri.com/index.php" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>-->
                                            <div class="text-area"><a href="https://www.thegallerygroups.com/hotel-details.php?hotel_id=2" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/mantra-resort.png" alt="Mantra Resort" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://resortmantra.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Arambagh-Resort.jpg" alt="Arambagh-Resort, Hotel resort in Arambagh" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://arambaghhotelandresort.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/LBD-Resorts.jpg" alt="Lilabati Devi Resorts, Kolkata" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.lbdresorts.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Hotel-Platinum.jpg" alt="Hotel Platinum, Kolkata" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://hotelplatinum.co.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mt-20">
                               
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/globe-international.png" alt="Hotel Globe International" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://puri.hotelglobeinternational.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/hotel-sea-bird.jpg" alt="The Hotel Sea bird Internationala, Raichak" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://hotelseabirdinternational.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/the-grand.png" alt="The Grand Hotel" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://www.thegrand.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Hotel-Ambassador-Royale.jpg" alt="Hotel Ambassador Royale, Asansol" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.ambassadorroyale.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/golden-orbit.png" alt="Golden Orbit Boutique Hotel" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://goldenorbitaboutiquehotel.com/index.php" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/Arpita-Beach-Resort.jpg" alt="Arpita Beach Resort, Balasore" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://www.arpitabeachresort.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mt-20">
                               
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/hotel-annapurna.png" alt="Annapuna Hotel" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://annapurnahotel.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/le-tresor.png" alt="Le Tresor" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://letresor.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/The-Golden-Sunrise.jpg" alt="Hotel The Golden Sunrise" class="image" />
                                        <div class="overlay">
                                            <!--<div class="text-area"><a href="http://www.hotelthegoldensunrise.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>-->
                                            <div class="text-area"><a href="https://www.thegoldensunrise.in/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/hotel-utpala.png" alt="Hotel Utpala" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="http://www.hotelutpala.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/repose.png" alt="Repose Hotels" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://www.reposehotels.com/repose-highway-resort/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="img-container">
                                        <img src="img/clients/hotel-silk-inn.png" alt="Hotel Silk Inn" class="image" />
                                        <div class="overlay">
                                            <div class="text-area"><a href="https://hotelsilkinn.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-4 col-md-12 about-left no-padding"> <img class="img-fluid" src="img/Restaurant-POS.jpg" alt="Bloom UpRestaurant POS System"> </div>-->
                </div>
            </div>
        </section>
        <!-- End WHY Bloom UpStart -->

    </div>
    <footer class=" footer-area pt-50 pb-50" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                            <li><a href="support.html">Support</a></li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-center">Get Us Connected</h4>
                        <div class="footer-social align-items-center"> <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="skype:live:.cid.42b642868f0f6f5e?call" target="_blank" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </div>
                        <div class="footer-social align-items-center button-free-trial">
                            <p><a href="Free-trial.html">START FREE TRIAL</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4  col-md-12 col-sm-12">
                    <div class="single-footer-widget footer-text-right">
                        <p class="footer-text mt-30">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bestman Bloom UpSoftware LLP<br />All Rights Reserved
                        </p>
                        <p>
                            <a href="terms-and-conditions.html" class="text-white ml-0">Terms And Conditions</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="privacy-policy.html" class="text-white ml-0">Privacy Policy</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="refund-cancellation.html" class="text-white ml-0">Refund Policy</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0" style="display:none;">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- End footer Area -->


    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--<script src="js/easing.min.js"></script>-->
    <!--<script src="js/hoverIntent.js"></script>-->
    <script src="js/superfish.min.js"></script>
  
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main9055.js?ver=6"></script>
</body>

</html>
