<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="shortcut icon" href="img/icon.ico">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="Your hotel’s website should be your most profitable sales channel. Our booking engine will boost your conversion rate and turn your website into your hotel’s highest-yielding shop window.">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Reservation Management, Front Office Management, Pos Sales, Banquet Management, Material Managemnent, Financial Accounts, Touch POS, Kitchen Display System,Fast Order and Invoice Generations, Best in class Touch Interface System Mobile, Tablet and Computer">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Bloom Up- Booking Engine | #1 Hotel Software on Cloud</title>
   
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
   
   
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/mainb52e.css?ver=5">
    <link rel="stylesheet" href="css/responsive.css">


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CL6FNEMREJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CL6FNEMREJ');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-958701517"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-958701517');
    </script>


</head>
<body>
    <header id="header" id="home">
        <div class="col-md-12">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="top-aea">
                    <div class="header-upper-left"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+91 9831027443">+91 9831027443</a> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a> </div>
                    <div class="header-upper-right"> Stay Connect <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="Free-trial.html" class="button-upper">Start Free Trial</a> </div>
                </div>
                <div id="logo"> <a href="index.html"><img src="img/img/full-logo.png" alt="" title="" /></a> </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <!-- <li class="menu-has-children menu-active">
                            <a href="#">Products</a>
                            <ul>
                                <li><a href="Exceed-Cloud.html">Hotel Software - On Cloud</a></li>
                                <li><a href="Exceed-Desktop.html">Hotel Software - On-Premises</a></li>
                                <li><a href="Exceed-Restaurants-POS.html">Restaurant Software</a></li>
                                <li><a href="Channel-Manager.html">Hotel Channel Manager</a></li>
                                <li><a href="Exceed-Booking-Engine.html">Hotel Website Booking Engine</a></li>
                                <li><a href="Tally-Interface.html">Tally Interface</a></li>
                                <li><a href="Central-Reservation.html">Central Reservation System</a></li>
                            </ul>
                        </li> -->
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                        
                        <li><a href="support.html">Support</a></li>
                        <li><a href="contact.html">Contacts</a></li>
                     
                    </ul>
                </nav>
               
            </div>
        </div>
    </header>
    <!-- #header -->
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="generic-banner-content">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper mt-50">
        <!-- Start Reservation Management Area -->
        <section class="inner-area-two">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 counter-area">
                        <div class="container">
                            <h1 class="mt-50 mb-20">Maximise direct bookings</h1>
                            <p class="mb-50">Your hotel’s website should be your most profitable sales channel. Our booking engine will boost your conversion rate and turn your website into your hotel’s highest-yielding shop window.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about-left no-padding"> <img class="img-fluid" src="img/es-engine-one.jpg" alt="Hotel Booking Engine"> </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="inner-area-two-text">
                            <h2 class="mb-30 mt-50">Maximise You Direct Sales</h2>
                            <p>
                                Adapt practices from OTAs such as mixed-rates capacity.
                                Combine the best available deals to offer the best available price so that “No availability” is no longer displayed when you actually have rooms.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-12"></div>
                </div>
            </div>
        </section>
       
        <section class="inner-area-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 about-left no-padding mobile"> <img class="img-fluid" src="img/es-engine-two.jpg" alt="Hotel Booking Engine"> </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="inner-area-two-text">
                            <h2 class="mb-30 mt-50">Promote Your Hotel</h2>
                            <p>Easily create and display your special offers in a few clicks. Customers tell us that it takes them less than 2 minutes to set promo codes or discount rules on already existing rates. They love it and see a big impact on conversion.</p>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-12"></div>
                    <div class="col-lg-6 col-md-12 about-left no-padding desktop"> <img class="img-fluid" src="img/es-engine-two.jpg" alt="Hotel Booking Engine"> </div>
                </div>
            </div>
        </section>
       
        <section class="inner-area-two">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 about-left no-padding"> <img class="img-fluid" src="img/es-engine-three.jpg" alt="Bloom UpPos Sales"> </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="inner-area-two-text">
                            <h2 class="mb-30 mt-50">Engage With Your Guest Everywhere</h2>
                            <p>Have your guest experience begin on your Booking Engine. The world is your market!</p>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-12"></div>
                </div>
            </div>
        </section>
        
        <section class="esbooking-text-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1 col-md-12"></div>
                    <div class="col-lg-10 col-md-12">
                        <p>At Exceed, we understand how important direct online bookings are to you and your business. We use best in industry technology to provide you with an powerful online booking system that gets you infinite bookings for zero commission right from your hotel website..Generate new revenue streams by creating well-crafted packages for leisure travelers that combine the cost of accommodations with value added stay enrichments and adventure activities.</p>
                    </div>
                    <div class="col-lg-1 col-md-12"></div>
                </div>
            </div>
        </section>
       

    </div>
    <!-- <footer class="footer-area pt-50 pb-50" id="contact">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-5  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                            
                            <li><a href="support.html">Support</a></li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-center">Get Us Connected</h4>
                        <div class="footer-social align-items-center"> <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="skype:live:.cid.42b642868f0f6f5e?call" target="_blank" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </div>
                        <div class="footer-social align-items-center button-free-trial">
                            <p><a href="Free-trial.html">START FREE TRIAL</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-12 col-sm-12">
                    <div class="single-footer-widget footer-text-right">
                        <p class="footer-text mt-30">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bestman Bloom UpSoftware LLP<br />All Rights Reserved
                        </p>
                        <p>
                            <a href="terms-and-conditions.html" class="text-white ml-0">Terms And Conditions</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="privacy-policy.html" class="text-white ml-0">Privacy Policy</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="refund-cancellation.html" class="text-white ml-0">Refund Policy</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <p class="footer-text m-0" style="display:none;">Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
            </div>
        </div>
    </footer> -->
    <footer class=" footer-area pt-50 pb-50" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                            <li><a href="support.html">Support</a></li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-center">Get Us Connected</h4>
                        <div class="footer-social align-items-center"> <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="skype:live:.cid.42b642868f0f6f5e?call" target="_blank" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </div>
                        <div class="footer-social align-items-center button-free-trial">
                            <p><a href="Free-trial.html">START FREE TRIAL</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4  col-md-12 col-sm-12">
                    <div class="single-footer-widget footer-text-right">
                        <p class="footer-text mt-30">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bestman Bloom UpSoftware LLP<br />All Rights Reserved
                        </p>
                        <p>
                            <a href="terms-and-conditions.html" class="text-white ml-0">Terms And Conditions</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="privacy-policy.html" class="text-white ml-0">Privacy Policy</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="refund-cancellation.html" class="text-white ml-0">Refund Policy</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0" style="display:none;">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/superfish.min.js"></script>
    
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main9055.js?ver=6"></script>
</body>

</html>
