<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="shortcut icon" href="img/icon.ico">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Try It For Free | Hotel Management System | Hotel Software on Cloud</title>
   
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/magnific-popup.css">-->
    <!--<link rel="stylesheet" href="css/nice-select.css">-->
    <link rel="stylesheet" href="css/animate.min.css">
    <!--<link rel="stylesheet" href="css/owl.carousel.css">-->
    <link rel="stylesheet" href="css/mainb52e.css?ver=5">
    <link rel="stylesheet" href="css/responsive.css">
    <script>
        function Validate() {
            var emailRegEx = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;

            if (document.cont_us.fullname.value == '') {
                alert('Please enter your full name!');
                document.cont_us.fullname.focus();
                return false;
            }
            if (document.cont_us.email.value == '') {
                alert('Please enter your email address!');
                document.cont_us.email.focus();
                return false;
            }
            if (document.cont_us.email.value.search(emailRegEx) == -1) {
                alert('Please enter a valid email address!');
                return false;
            }
            if (document.cont_us.enter_complete_details.value == '') {
                alert('Please enter your details!');
                document.cont_us.enter_complete_details.focus();
                return false;
            }
            return true;
        }
    </script>
   
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CL6FNEMREJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CL6FNEMREJ');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 958701517 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-958701517"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-958701517');
    </script>
  
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-958701517/8bGaCJ6mvqMDEM2_kskD',
                'event_callback': callback
            });
            return false;
        }
    </script>
</head>
<body>
    <header id="header" id="home">
        <div class="col-md-12">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="top-aea">
                    <div class="header-upper-left">
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+919831027443">+91 9831027443</a> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a>

                    </div>
                    <div class="header-upper-right">
                        Stay Connect <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="Free-trial.html" class="button-upper">Start Free Trial</a>
                    </div>
                </div>
                <div id="logo">
                    <a href="index.html"><img src="img/img/full-logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <!--<li><a href="index.html#about">About</a></li>-->
                      
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                        
                        <li><a href="support.html">Support</a></li>
                        <li><a href="contact.html">Contacts</a></li>
                      
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="generic-banner-content">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper mt-50">
        <!-- Start Try It Area -->
        <section class="inner-area">
            <div class="container-fluid">
                <div class="row section-flex-order">
                    <div class="col-lg-1 col-md-12"></div>
                    <div class="col-lg-4 col-md-12 inner-area-one">
                        <h1 style="text-transform:none" class="cus-des">Now you will find the hotel software which you were looking for</h1>
                        <h2 class="mt-20 cus-des">Bloom UpHotel Software 15 Days <span class="text-red">Free</span> Trial!</h2>
                        <h3>The trial comes with a preconfigured database. You can get the trial in your own blank data on request. You can avail 24x7 live support and unlimited free product training.</h3>
                        <h4>We have been chosen as preferred technology partner by many leading hotel brands and they vouch for the usefulness of our Hotel ERP.</h4>
                        <p><a href="tel:+919831027443" class="primary-btn header-btn-two text-uppercase mt-20"><i class="fa fa-phone"></i>Call Us <strong>+91 9831027443</strong></a><a href="https://wa.me/919831027443" class="primary-btn header-btn-two text-uppercase mt-0 btn-yellow"><i class="fa fa-whatsapp"></i>Whatsapp <strong>+91 9831027443</strong></a></p>
                    </div>
                    <div class="col-lg-1 col-md-12"></div>
                    <!--<div class="col-lg-3 col-md-12 mt-100 inner-area-margin-right">
                    <img class="img-fluid" src="img/inner-image-one.png" alt="">
                    </div>-->
                    <div class="col-lg-5 col-md-12 about-left pt-100 pb-100 inner-area-margin-left">
                        <!--<form class="form-area" id="myForm" action="mail.php" method="post" class="contact-form text-right">-->
                        <form id="form-free-trial" name="cont_us" action="https://www.exceedhms.com/mail.php" method="post" class="form-area contact-form">
                            <h1 class="text-red mb-30">Start Your Free Trial Today!</h1>
                            <label>Name</label>
                            <input id="fname" name="fname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Name'" class="common-input input-restrict" required type="text">
                            <label>Hotel Name / Company Name</label>
                            <input id="pname" name="pname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Property Name/Company Name'" class="common-input input-restrict" required type="text">
                            <label>Email</label>
                            <input id="email" name="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input input-restrict" required type="email">
                            <label>Phone Number</label>
                            <input id="phone" name="phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Phone Number'" class="common-input input-restrict" required type="phone">
                            <label>City</label>
                            <input id="cname" name="cname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your City'" class="common-input input-restrict" type="text" required>
                            <!--<input name="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'" class="common-input mt-10" required type="subject">-->
                            <label>Your Requirement</label>
                            <textarea class="common-textarea input-restrict" id="message" name="message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
                            <!--<button class="pull-right primary-btn mt-20" name="Submit" type="submit">Request Trial<span class="lnr lnr-arrow-right"></span></button>-->
                            <button id="button-form-free-trial" class="pull-right primary-btn mt-20" name="Submit" type="button" onclick="ValidateFreeTrial()">Request Trial<span class="lnr lnr-arrow-right"></span></button>
                            <!--<button type="submit" id="button-form-free-trial" style="display:none;opacity:0;visibility:hidden"></button>-->
                            <!--<input name="Submit" type="submit" value="Submit" class="btn btn-success lower-button" onClick="return verify();" />-->
                            <div class="mt-10 alert-msg">
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1 col-md-12"></div>
                </div>
            </div>
        </section>
        <!-- End Try It Start -->
    </div>
    <footer class=" footer-area pt-50 pb-50" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                            <li><a href="support.html">Support</a></li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-center">Get Us Connected</h4>
                        <div class="footer-social align-items-center"> <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="skype:live:.cid.42b642868f0f6f5e?call" target="_blank" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </div>
                        <div class="footer-social align-items-center button-free-trial">
                            <p><a href="Free-trial.html">START FREE TRIAL</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4  col-md-12 col-sm-12">
                    <div class="single-footer-widget footer-text-right">
                        <p class="footer-text mt-30">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bestman Bloom UpSoftware LLP<br />All Rights Reserved
                        </p>
                        <p>
                            <a href="terms-and-conditions.html" class="text-white ml-0">Terms And Conditions</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="privacy-policy.html" class="text-white ml-0">Privacy Policy</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="refund-cancellation.html" class="text-white ml-0">Refund Policy</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0" style="display:none;">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--<script src="js/easing.min.js"></script>-->
    <!--<script src="js/hoverIntent.js"></script>-->
    <script src="js/superfish.min.js"></script>
   
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script592e.js?ver=3"></script>
    <script src="js/main9055.js?ver=6"></script>
    <script src="js/custom68b3.js?ver=1"></script>
    <script src="js/vendor/jquery.validate.js"></script>
    <script src="js/vendor/jquery.validate.unobtrusive.js"></script>
</body>

</html>
