<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="shortcut icon" href="img/icon.ico">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Refund And Cancellation | #1 Hotel Software on Cloud</title>
   
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/magnific-popup.css">-->
    <!--<link rel="stylesheet" href="css/nice-select.css">-->
    <link rel="stylesheet" href="css/animate.min.css">
    <!--<link rel="stylesheet" href="css/owl.carousel.css">-->
    <link rel="stylesheet" href="css/mainb52e.css?ver=5">
    <link rel="stylesheet" href="css/responsive68b3.css?ver=1">

  
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CL6FNEMREJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CL6FNEMREJ');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 958701517 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-958701517"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-958701517');
    </script>
</head>
<body>
    <header id="header" id="home">
        <div class="col-md-12">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="top-aea">
                    <div class="header-upper-left"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+91 9831027443">+91 9831027443</a> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a> <i class="fa fa-skype" aria-hidden="true"></i> <a href="skype:live:.cid.42b642868f0f6f5e?call">Quick Contact</a> </div>
                    <div class="header-upper-right"> Stay Connect <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="Free-trial.html" class="button-upper">Start Free Trial</a> </div>
                </div>
                <div id="logo"> <a href="index.html"><img src="img/logo.png" alt="" title="" /></a> </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <!--<li><a href="index.html#about">About</a></li>-->
                      
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                        
                        <li><a href="support.html">Support</a></li>
                        <li><a href="contact.html">Contacts</a></li>
                      
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
    <section class="generic-banner relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="generic-banner-content">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- About Generic Start -->
    <div class="main-wrapper mt-50">
        <!-- Start Reservation Management Area -->
        <section class="inner-area-five">
            <div class="container-fluid policy-panel">
                <div class="row">
                    <div class="container">
                        <h1 class="mt-50 mb-20 font-weight-bold">Refund Policy</h1>
                        <h6>Last Updated On : 27<sup>th</sup> August, 2021</h6>
                        <div class="policy-panel-body">
                            <p class="mt-3">The products available for purchase on our web site are try-before-you-buy. We provide free trial periods to let you fully evaluate our products before you make a purchase decision.</p>
                            <p>Please use the trial period to make sure that the software meets your needs before purchasing a license. All of our software is functional during the trial period. None of our software requires registration to enable its primary functionality.</p>
                            <h4>15 Days Guaranteed Refund</h4>
                            <p>We know that sometimes things just don't work out how we'd all like them to, and software is no different. That's why we have our <strong>15 days guaranteed refund policy.</strong></p>
                            <p>If you're not happy, for any reason, within 15 days of purchase, we'll give you your money back. Simple as that. To initiate a refund, you can submit the mail us at <a href="mailto:sales@exceedhms.com">sales@exceedhms.com</a>. All refunds should be processed within 5-7 working days.</p>
                            <ul class="ml-4">
                                <li>Refund policy is applicable only for Bloom UpCloud Subscriptions Plans and their add-ons purchased directly from website <a href="index-2.html" target="_blank">https://www.exceedhms.com</a>.</li>
                                <li>After 15 days of the initial purchase date of the subscription, the refund window is closed.</li>
                                <li>Refund is not applicable any of our other products like all on-premises softwares.</li>
                                <li>Refund is not applicable on renewals.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class=" footer-area pt-50 pb-50" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-5  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="Why-Choose-Exceed.html">Why Choose Exceed</a></li>
                            <li><a href="support.html">Support</a></li>
                            <li><a href="contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-3  col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4 class="text-white text-center">Get Us Connected</h4>
                        <div class="footer-social align-items-center"> <a href="https://www.facebook.com/ExceedHotelSoftware" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.youtube.com/channel/UCMgrOShr3d87PcevscbRrxA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> <a href="skype:live:.cid.42b642868f0f6f5e?call" target="_blank" title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a> </div>
                        <div class="footer-social align-items-center button-free-trial">
                            <p><a href="Free-trial.html">START FREE TRIAL</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4  col-md-12 col-sm-12">
                    <div class="single-footer-widget footer-text-right">
                        <p class="footer-text mt-30">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bestman Bloom UpSoftware LLP<br />All Rights Reserved
                        </p>
                        <p>
                            <a href="terms-and-conditions.html" class="text-white ml-0">Terms And Conditions</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="privacy-policy.html" class="text-white ml-0">Privacy Policy</a>
                            <span class="ml-1 mr-1">|</span>
                            <a href="refund-cancellation.html" class="text-white ml-0">Refund Policy</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0" style="display:none;">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
   
    <script src="js/superfish.min.js"></script>
  
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main9055.js?ver=6"></script>
</body>

</html>
