{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Best Luxurious Hotel Booking Template.">
    <meta name="keywords"
        content="hotel, booking, business, restaurant, spa, resort, landing, agency, corporate, start up, site design, new business site, business template, professional template, classic, modern">
    <title>Luxurious - Hotel Booking HTML Template + Admin Dashboard</title>

    <link rel="icon" href="hotel/assets/img/favicons/favicon.png" type="image/x-icon">
    
    <!-- Css All Plugins Files -->
    <link rel="stylesheet" href="{% static '/hotel/assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/hotel/assets/css/vendor/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/hotel/assets/css/vendor/aos.css' %}">
    <link rel="stylesheet" href="{% static '/hotel/assets/css/vendor/remixicon.css' %}">
    <link rel="stylesheet" href="{% static '/hotel/assets/css/vendor/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/hotel/assets/css/vendor/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/hotel/assets/css/vendor/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static '/hotel/assets/css/vendor/slick.min.css' %}">


    <!-- Main Style -->
    <link rel="stylesheet" href="{% static '/hotel/assets/css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<!-- jQuery (required for Slick) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Slick Slider CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<!-- Slick Slider JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    




<style>
    .heading {
  font-family: "Funnel Sans", sans-serif;

}

.link{
    color: #f32078;
}
 .mb-0{
    color: white;

}
    .logo-img {
            max-width: 150px;  /* Set maximum width */
            height: auto;      /* Maintain aspect ratio */
        }
    .nav-link {
        position: relative;
        transition: color 0.3s ease;
        padding: 5px 10px !important;
    }

    .nav-link.active {
        color: #f32078 !important;
    }

    /* .nav-link.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #f32078;
    } */

 /* ... existing styles ... */

 .nav-item.dropdown {
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 0.5rem;
        border: none;
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);
        min-width: 200px;
        border-radius: 4px;
        padding: 0.5rem 0;
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;
    }

    .dropdown-item:hover {
        background-color: rgba(243, 32, 120, 0.1);
        color: #f32078;
    }


    .dropdown-item.active {
        background-color: #f32078 !important;
        color: white !important;
    }

    .navbar-nav {
        align-items: center;
        /* gap: 10px; */
    }
 
    .nav-link.dropdown-toggle {
        display: flex !important;
        align-items: center !important;
        white-space: nowrap !important;
        flex-direction: row;
    }

    .nav-link.dropdown-toggle i {
        margin-left: 4px;
        font-size: 16px;
        line-height: 1;
    }

    .navbar-nav > li {
        display: flex;
        align-items: center;
    } 
</style>
    
</head>

<body>
    <!-- Overlay -->
    <div class="overlay"></div>
    <div class="lh-loader">
        <span class="loader"></span>
    </div>

    <!-- Header -->
    <header>
        <!-- <div class="lh-top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12  lh-top-social">
                        <div class="lh-mail">
                            <i class="ri-mail-line"></i>
                            example@ec-email.com
                        </div>
                        <div class="lh-location">
                            <div class="custom-select">
                                <i class="ri-map-pin-line"></i>
                                <select>
                                    <option value="option1">Surat</option>
                                    <option value="option2">Delhi</option>
                                    <option value="option3">Rajkot</option>
                                    <option value="option4">Udaipur</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 lh-top-social">
                        <div class="lh-phone">
                            <i class="ri-phone-line"></i>
                            +91(123)(456)(7890)
                        </div>
                        <div class="lh-header-icons">
                            <a href="javascript:void(0)"><i class="ri-facebook-box-line facebook"></i></a>
                            <a href="javascript:void(0)"><i class="ri-twitter-x-line twitter"></i></a>
                            <a href="javascript:void(0)"><i class="ri-linkedin-box-line linkedin"></i></a>
                            <a href="javascript:void(0)"><i class="ri-instagram-line instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="lh-header">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg">
                        {% if light_logo_url %}

                        <a class="navbar-brand" href="{% url 'user-panel:index' company_name=company_name %}">
                            <img id="lightLogo" src="{{ light_logo_url }}" alt="Light Logo" class="logo-img">
                        </a>
                        {% else %}
                        <a class="navbar-brand" href="{% url 'user-panel:index' company_name=company_name %}">
                            <img src="{% static '/hotel/assets/img/logo/logo.png' %}" alt="logo" class="lh-logo">
                        </a>
                        {% endif %}

                        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ri-menu-2-line"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                               

                                <li class="nav-item dropdown">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" 
                                       href="{% url 'user-panel:index' company_name=company_name %}">
                                        Home
                                    </a>
                                </li>
                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if 'about' in request.path or 'facilities' in request.path or 'faq' in request.path or 'services' in request.path or 'spa' in request.path or 'team' in request.path or 'checkout' in request.path %}active{% endif %}" 
                                       href="javascript:void(0)" role="button" data-bs-toggle="dropdown">
                                        Pages
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item {% if 'about' in request.path %}active{% endif %}" 
                                               href="{% url 'user-panel:about' company_name=company_name %}">About Us</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item {% if 'facilities' in request.path %}active{% endif %}" 
                                               href="{% url 'user-panel:facilities' company_name=company_name %}">Facilities</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item {% if 'faq' in request.path %}active{% endif %}" 
                                               href="{% url 'user-panel:faq' company_name=company_name %}">Faq</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item {% if 'services' in request.path %}active{% endif %}" 
                                               href="{% url 'user-panel:services' company_name=company_name %}">Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item {% if 'spa' in request.path %}active{% endif %}" 
                                               href="{% url 'user-panel:spa' company_name=company_name %}">Spa</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item {% if 'team' in request.path %}active{% endif %}" 
                                               href="{% url 'user-panel:team' company_name=company_name %}">Team</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item {% if 'checkout' in request.path %}active{% endif %}" 
                                               href="{% url 'user-panel:checkout' company_name=company_name %}">Checkout</a>
                                        </li>
                                    </ul>
                                </li>
                        
                                

                                <li class="nav-item dropdown">
                                    <a class="nav-link {% if 'room' in request.path %}active{% endif %}" 
                                       href="{% url 'user-panel:room' company_name=company_name %}">
                                      Rooms
                                    </a>
                                </li>

                        
                                <li class="nav-item dropdown">
                                    <a class="nav-link {% if 'gallery' in request.path %}active{% endif %}" 
                                       href="{% url 'user-panel:gallery' company_name=company_name %}">
                                        Gallery
                                    </a>
                                </li>
                        
                                <li class="nav-item dropdown">
                                    <a class="nav-link {% if 'contact-us' in request.path %}active{% endif %}" 
                                       href="{% url 'user-panel:contact-us' company_name=company_name %}">
                                        Contact Us
                                    </a>
                                </li>
                        
                                {% if not request.user.is_superuser and not request.user.is_guest %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link {% if 'admin' in request.path %}active{% endif %}" 
                                        href="{% url 'admin-panel:index' %}">
                                            Admin
                                        </a>
                                    </li>
                                {% endif %}



                                {% if user.is_authenticated %}
                                    <li>
                                        <form id="logout-form" action="{% url 'admin-panel:logout' %}" method="POST" style="margin: 0;">
                                            {% csrf_token %}
                                            <a class="nav-link {% if 'logout' in request.path %}active{% endif %}" 
                                            href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                                <i class="ri-logout-circle-r-line"></i> Logout
                                            </a>
                                        </form>
                                    </li>
                                {% endif %}

                              
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="lh-sidebar-overlay"></div>
    <div id="lh_mobile_menu" class="lh-side-cart lh-mobile-menu">
        <div class="lh-menu-title">
            <span class="menu-title">My Menu</span>
            <button class="lh-close">×</button>
        </div>
        <div class="lh-menu-inner">
            <input type="text" placeholder="Search" class="lh-menu-box">
            <div class="lh-menu-content">
                <ul>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Home</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'user-panel:index' company_name=company_name %}">Home Layout 1</a></li>
                            <li><a href="{% url 'user-panel:index' company_name=company_name %}">Home Layout 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Categories</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'user-panel:gallery' company_name=company_name %}">gallery 1</a></li>
                            <li><a href="{% url 'user-panel:gallery' company_name=company_name %}">gallery 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Room</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'user-panel:room' company_name=company_name %}">Rooms</a></li>
                            <li><a href="{% url 'user-panel:room-details' company_name=company_name %}">Room Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'user-panel:about' company_name=company_name %}">About Us</a></li>
                            <li><a href="{% url 'user-panel:contact-us' company_name=company_name %}">Contact</a></li>
                            <li><a href="{% url 'user-panel:facilities' company_name=company_name %}">Facilities</a></li>
                            <li><a href="{% url 'user-panel:faq' company_name=company_name %}">Faq</a></li>
                            <li><a href="{% url 'user-panel:services' company_name=company_name %}">Services</a></li>
                            <li><a href="{% url 'user-panel:spa' company_name=company_name %}">Spa</a></li>
                            <li><a href="{% url 'user-panel:team' company_name=company_name %}">Team</a></li>
                            <li><a href="{% url 'user-panel:checkout' company_name=company_name %}">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <!-- <a href="{% url 'user-panel:restaurant' company_name=company_name %}">Restaurant</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>








    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top-section">
            <div class="row">
                <div class="col-lg-3 col-md-6 rs-pb-24 p-991 order-lg-1 order-md-2 order-2">
                    <div class="lh-footer-cols-contain">
                        <div class="lh-footer-heading">
                            <h4>Explore</h4>
                        </div>
                        <ul>
                            <li>
                                <code>*</code>
                                <a href="{% url 'user-panel:index' company_name=company_name %}">Home</a>
                            </li>
                            <li>
                                <code>*</code>
                                <a href="{% url 'user-panel:about' company_name=company_name %}">About</a>
                            </li>
                             <li>
                                <code>*</code>
                                <a href=" {% url 'user-panel:room' company_name=company_name %}">Rooms & suites</a>
                            </li>
                            <li>
                                <code>*</code>
                                <a href="{% url 'user-panel:spa' company_name=company_name %}">spa & Wellness</a>
                            </li>
                            <!-- <li>
                                <code>*</code>
                                <a href=" {% url 'user-panel:restaurant' company_name=company_name %}">Restaurant</a>
                            </li> -->
                            <li>
                                <code>*</code>
                                <a href=" {% url 'user-panel:gallery' company_name=company_name %}">Gallery</a>
                            </li>
                            <li>
                                <code>*</code>
                                <a href=" {% url 'user-panel:contact-us' company_name=company_name %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 rs-pb-24 order-lg-2 order-md-1 order-1">
                    <div class="lh-social-media">
                        <div class="footer-logos">
                        {% if light_logo_url %}

                        <a class="navbar-brand" href="{% url 'user-panel:index' company_name=company_name %}">
                            <img id="lightLogo" src="{{ light_logo_url }}" alt="Light Logo" class="logo-img">
                        </a>
                        {% else %}
                        <a class="navbar-brand" href="{% url 'user-panel:index' company_name=company_name %}">
                            <img src="{% static '/hotel/assets/img/logo/logo.png' %}" alt="logo">
                        </a>
                        {% endif %}
                        </div>
                        <div class="lh-footer-social">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem soluta eaque
                                ullam accusantium animi!</p>
                            <form class="lh-control-footer" role="search">
                                <div class="lh-control-inner-icons">
                                    <i class="ri-send-plane-line"></i>
                                </div>
                                <input class="form-control shadow-none me-4" type="search" placeholder="Subscribe..."
                                    aria-label="Search">
                            </form>
                        </div>
                      
                        <a href="{% url 'user-panel:terms_and_conditions' company_name=company_name %}"><p style="text-align: center;color: white;margin-top: 10px;">Terms And Conditions</p></a> 
                        <a href="{% url 'user-panel:privacy' company_name=company_name %}"><p style="text-align: center;color: white;margin-top: 10px;">Privacy and policy</p></a> 
                        <a href="{% url 'user-panel:cancellation' company_name=company_name %}"><p style="text-align: center;color: white;margin-top: 10px;">Cancellation Policy</p></a> 

                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 rs-pb-24 order-lg-3 order-md-3 order-3">
                    <div class="lh-footer-cols-contain ">
                        <div class="lh-footer-heading">
                            <h4>Contact Information</h4>
                        </div>
                        <div class="lh-footer-contact-infoemation">
                            <ul>
                                <li class="lh-information">
                                    <h5 class="heading">Location</h5>
                                    <span>5 Green st.Huntington stati on, Ny 11746, Libero voluptatem soluta
                                        Bharat.</span>
                                </li>
                                <li class="lh-information">
                                    <h5 class="heading">Email</h5>
                                    <span>example@ec-email.com</span>
                                </li>
                                <li class="lh-information">
                                    <h5 class="heading">Phone No</h5>
                                    <span>+91(1234)(567)(890)</span>
                                </li>
                                <li class="lh-information">
                                    <div class="lh-follow-social">
                                        <h4 class="heading">Follow On Social</h4>
                                        <div class="footer-logo-image" style="margin-top: 10px;">
                                            <a href="#"><img src="{% static '/hotel/assets/img/logo/facebook.png' %}" alt="facebook"></a>
                                            <a href="#"><img src="{% static '/hotel/assets/img/logo/twitter.png' %}" alt="twitter"></a>
                                            <a href="#"><img src="{% static '/hotel/assets/img/logo/instagram.png' %}" alt="instagram"></a>
                                            <a href="#"><img src="{% static '/hotel/assets/img/logo/linkedin.png' %}" alt="linkedin"></a>
                                            <a href="#"><img src="{% static '/hotel/assets/img/logo/dribbble.png' %}" alt="dribbble" style="width: 12%;"></a>
                                            <a href="#"><img src="{% static '/hotel/assets/img/logo/pinterest.png' %}" alt="pinterest"  style="width: 12%;"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                  <div class="footer-bottom-copy">
                    <div class="md:text-start text-center">
                    <p class="mb-0 " >© <script>document.write(new Date().getFullYear())</script> <a href=" {% url 'user-panel:index' company_name=company_name %}" class="link">{{ site_name }}</a> – All Rights Reserved ||  Developed by <a href="https://ultrakeyit.in/" target="_blank" class="link" >Ultrakey It Solutions Private Limited </a>.</p>
                 </div> 
                </div>
    </footer>
    <!-- Tap to top -->
    <a href="#" class="back-to-top result-placeholder">
        <i class="ri-arrow-up-double-line"></i>
    </a>

    <!-- Plugins JS -->
    <script src="{% static '/hotel/assets/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static '/hotel/assets/js/vendor/swiper-bundle.min.js' %}"></script>
    <script src="{% static '/hotel/assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/hotel/assets/js/vendor/magnific-popup.min.js' %}"></script>
    <script src="{% static '/hotel/assets/js/vendor/aos.js' %}"></script>
    <script src="{% static '/hotel/assets/js/vendor/semantic.min.js' %}"></script>
    <script src="{% static '/hotel/assets/js/vendor/slick.min.js' %}"></script>
    <script src="{% static '/hotel/assets/js/vendor/particles.min.js' %}"></script>
    <script src="{% static '/hotel/assets/js/vendor/app.js' %}"></script>

    <!-- Main-js -->
    <script src="{% static '/hotel/assets/js/main.js' %}"></script>

    <script>
        function handleLogout(event) {
            event.preventDefault();
            if (confirm('Are you sure you want to logout?')) {
                document.getElementById('logout-form').submit();
            }
        }
        
        // Add event listener to logout link
        document.addEventListener('DOMContentLoaded', function() {
            const logoutLink = document.querySelector('a[href*="logout"]');
            if (logoutLink) {
                logoutLink.addEventListener('click', handleLogout);
            }
        });
        </script>
        
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Logout confirmation
            const logoutForm = document.getElementById('logout-form');
            if (logoutForm) {
                logoutForm.addEventListener('submit', function(e) {
                    e.preventDefault();
                    if (confirm('Are you sure you want to logout?')) {
                        this.submit();
                    }
                });
            }
        });
        </script>

</body>


</html>